In [1]:
import pandas as pd

muscle_data1_1 = pd.read_csv('../Data/E_001_post1.csv')
muscle_data1_2 = pd.read_csv('../Data/E_001_post2.csv')
muscle_data1_3 = pd.read_csv('../Data/E_001_post3.csv')
muscle_data1_4 = pd.read_csv('../Data/E_001_post4.csv')
muscle_data5_1 = pd.read_csv('../Data/E_005_post1.csv')
muscle_data5_2 = pd.read_csv('../Data/E_005_post2.csv')
muscle_data5_3 = pd.read_csv('../Data/E_005_post3.csv')
muscle_data5_4 = pd.read_csv('../Data/E_005_post4.csv')
muscle_data6_1 = pd.read_csv('../Data/E_006_post1.csv')
muscle_data6_2 = pd.read_csv('../Data/E_006_post2.csv')
muscle_data6_3 = pd.read_csv('../Data/E_006_post3.csv')
muscle_data6_4 = pd.read_csv('../Data/E_006_post4.csv')
muscle_data14_1 = pd.read_csv('../Data/E_014_post1.csv')
muscle_data14_2 = pd.read_csv('../Data/E_014_post2.csv')
muscle_data14_3 = pd.read_csv('../Data/E_014_post3.csv')
muscle_data14_4 = pd.read_csv('../Data/E_014_post4.csv')
muscle_data15_1 = pd.read_csv('../Data/E_015_post1.csv')
muscle_data15_2 = pd.read_csv('../Data/E_015_post2.csv')
muscle_data15_3 = pd.read_csv('../Data/E_015_post3.csv')
muscle_data15_4 = pd.read_csv('../Data/E_015_post4.csv')
muscle_data16_1 = pd.read_csv('../Data/E_016_post1.csv')
muscle_data16_2 = pd.read_csv('../Data/E_016_post2.csv')
muscle_data16_3 = pd.read_csv('../Data/E_016_post3.csv')
muscle_data16_4 = pd.read_csv('../Data/E_016_post4.csv')
muscle_data17_1 = pd.read_csv('../Data/E_017_post1.csv')
muscle_data17_2 = pd.read_csv('../Data/E_017_post2.csv')
muscle_data17_3 = pd.read_csv('../Data/E_017_post3.csv')
muscle_data17_4 = pd.read_csv('../Data/E_017_post4.csv')
muscle_data19_1 = pd.read_csv('../Data/E_019_post1.csv')
muscle_data19_2 = pd.read_csv('../Data/E_019_post2.csv')
muscle_data19_3 = pd.read_csv('../Data/E_019_post3.csv')
muscle_data19_4 = pd.read_csv('../Data/E_019_post4.csv')
muscle_data20_1 = pd.read_csv('../Data/E_020_post1.csv')
muscle_data20_2 = pd.read_csv('../Data/E_020_post2.csv')
muscle_data20_3 = pd.read_csv('../Data/E_020_post3.csv')
muscle_data20_4 = pd.read_csv('../Data/E_020_post4.csv')

In [2]:
time_intervals = [
    (0.16, 0.46),
    (1.32, 1.6),
    (2.48, 2.8),
    (3.64, 3.88),
    (4.78, 5.14),
    (5.9, 6.16),
    (7.06, 7.34)
]

mask = pd.Series([False] * len(muscle_data1_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_1['Time'] >= start_time) & (muscle_data1_1['Time'] <= end_time))

rear_muscle_data1_1 = muscle_data1_1.loc[mask]
rear_muscle_data1_1

       Time  Tibialis antelior  Gastrocnemius medialis
160   0.160             -0.037                  -0.023
161   0.161             -0.003                   0.003
162   0.162              0.015                   0.011
163   0.163              0.010                   0.009
164   0.164              0.012                   0.009
...     ...                ...                     ...
7336  7.336              0.007                  -0.020
7337  7.337              0.046                  -0.031
7338  7.338             -0.012                  -0.036
7339  7.339              0.025                  -0.028
7340  7.340              0.045                  -0.012

[2047 rows x 3 columns]

In [3]:
time_intervals = [
    (0.04, 0.4),
    (1.18, 1.52),
    (2.3, 2.6),
    (3.42, 3.66),
    (4.54, 4.78),
    (5.68, 5.94),
    (6.82, 7.12)
]

mask = pd.Series([False] * len(muscle_data1_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_2['Time'] >= start_time) & (muscle_data1_2['Time'] <= end_time))

rear_muscle_data1_2 = muscle_data1_2.loc[mask]
rear_muscle_data1_2

       Time  Tibialis antelior  Gastrocnemius medialis
40    0.040             -0.001                  -0.009
41    0.041             -0.008                  -0.003
42    0.042             -0.001                  -0.004
43    0.043             -0.013                  -0.014
44    0.044             -0.026                  -0.022
...     ...                ...                     ...
7116  7.116             -0.117                   0.025
7117  7.117             -0.139                   0.025
7118  7.118             -0.106                   0.026
7119  7.119             -0.114                   0.033
7120  7.120             -0.111                   0.038

[2047 rows x 3 columns]

In [4]:
time_intervals = [
    (0.18, 0.5),
    (1.32, 1.62),
    (2.44, 2.76),
    (3.56, 3.82),
    (4.62, 4.94),
    (5.76, 6.08),
    (6.92, 7.24)
]

mask = pd.Series([False] * len(muscle_data1_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_3['Time'] >= start_time) & (muscle_data1_3['Time'] <= end_time))

rear_muscle_data1_3 = muscle_data1_3.loc[mask]
rear_muscle_data1_3

       Time  Tibialis antelior  Gastrocnemius medialis
180   0.180              0.009                  -0.003
181   0.181              0.010                  -0.007
182   0.182              0.006                   0.003
183   0.183              0.010                   0.006
184   0.184              0.012                   0.008
...     ...                ...                     ...
7236  7.236             -1.218                   0.464
7237  7.237             -1.146                   0.462
7238  7.238             -1.079                   0.460
7239  7.239             -1.016                   0.455
7240  7.240             -0.956                   0.451

[2167 rows x 3 columns]

In [5]:
time_intervals = [
    (0.14, 0.5),
    (1.3, 1.62),
    (2.44, 2.7),
    (3.6, 3.88),
    (4.78, 5.08),
    (5.92, 6.22),
    (7.08, 7.42)
]

mask = pd.Series([False] * len(muscle_data1_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_4['Time'] >= start_time) & (muscle_data1_4['Time'] <= end_time))

rear_muscle_data1_4 = muscle_data1_4.loc[mask]
rear_muscle_data1_4

       Time  Tibialis antelior  Gastrocnemius medialis
140   0.140              0.002                  -0.001
141   0.141              0.002                   0.000
142   0.142             -0.002                  -0.001
143   0.143              0.000                   0.000
144   0.144             -0.010                  -0.005
...     ...                ...                     ...
7416  7.416              3.338                  -0.275
7417  7.417              3.338                  -0.245
7418  7.418              3.339                  -0.181
7419  7.419              3.340                  -0.282
7420  7.420              3.340                  -0.315

[2167 rows x 3 columns]

In [6]:
rear_muscle_data1 = [rear_muscle_data1_1, rear_muscle_data1_2, rear_muscle_data1_3, rear_muscle_data1_4]
rear_muscle_data1 = pd.concat(rear_muscle_data1, ignore_index=True)
rear_muscle_data1

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.160             -0.037                  -0.023
1     0.161             -0.003                   0.003
2     0.162              0.015                   0.011
3     0.163              0.010                   0.009
4     0.164              0.012                   0.009
...     ...                ...                     ...
8423  7.416              3.338                  -0.275
8424  7.417              3.338                  -0.245
8425  7.418              3.339                  -0.181
8426  7.419              3.340                  -0.282
8427  7.420              3.340                  -0.315

[8428 rows x 3 columns]

In [7]:
# rear_muscle_data1.to_csv('../Data/rear_muscle_data1.csv', index=False)

In [8]:
time_intervals = [
    (0.28, 0.54),
    (1.4, 1.72),
    (2.56, 2.9),
    (3.7, 4.04),
    (4.88, 5.2),
    (5.98, 6.3),
    (7.14, 7.46)
]

mask = pd.Series([False] * len(muscle_data1_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_1['Time'] >= start_time) & (muscle_data1_1['Time'] <= end_time))

mid_muscle_data1_1 = muscle_data1_1.loc[mask]
mid_muscle_data1_1

       Time  Tibialis antelior  Gastrocnemius medialis
280   0.280             -0.034                  -0.029
281   0.281              0.010                  -0.005
282   0.282              0.025                   0.004
283   0.283              0.013                   0.002
284   0.284              0.015                   0.000
...     ...                ...                     ...
7456  7.456              0.027                   0.007
7457  7.457              0.019                  -0.005
7458  7.458              0.017                  -0.016
7459  7.459              0.058                  -0.004
7460  7.460              0.090                   0.008

[2227 rows x 3 columns]

In [9]:
time_intervals = [
    (0.14, 0.46),
    (1.26, 1.58),
    (2.38, 2.68),
    (3.5, 3.74),
    (4.62, 4.92),
    (5.76, 6.04),
    (6.9, 7.26)
]

mask = pd.Series([False] * len(muscle_data1_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_2['Time'] >= start_time) & (muscle_data1_2['Time'] <= end_time))

mid_muscle_data1_2 = muscle_data1_2.loc[mask]
mid_muscle_data1_2

       Time  Tibialis antelior  Gastrocnemius medialis
140   0.140              0.007                  -0.005
141   0.141              0.004                  -0.004
142   0.142             -0.003                  -0.004
143   0.143             -0.020                  -0.014
144   0.144             -0.029                  -0.020
...     ...                ...                     ...
7256  7.256             -0.098                   0.031
7257  7.257             -0.142                   0.029
7258  7.258             -0.136                   0.032
7259  7.259             -0.084                   0.030
7260  7.260             -0.018                   0.029

[2127 rows x 3 columns]

In [10]:
time_intervals = [
    (0.26, 0.6),
    (1.4, 1.66),
    (2.54, 2.86),
    (3.62, 3.9),
    (4.72, 5.02),
    (5.86, 6.14),
    (7, 7.34)
]

mask = pd.Series([False] * len(muscle_data1_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_3['Time'] >= start_time) & (muscle_data1_3['Time'] <= end_time))

mid_muscle_data1_3 = muscle_data1_3.loc[mask]
mid_muscle_data1_3

       Time  Tibialis antelior  Gastrocnemius medialis
260   0.260              0.011                   0.002
261   0.261              0.006                   0.004
262   0.262              0.013                   0.006
263   0.263              0.004                   0.002
264   0.264              0.008                   0.002
...     ...                ...                     ...
7336  7.336              1.998                  -0.506
7337  7.337              1.983                  -0.629
7338  7.338              1.970                  -0.638
7339  7.339              1.953                  -0.612
7340  7.340              1.927                  -0.487

[2127 rows x 3 columns]

In [11]:
# 時間区間のリストを定義
time_intervals = [
    (0.38, 0.6),
    (1.38, 1.72),
    (2.52, 2.8),
    (3.7, 4.02),
    (4.84, 5.2),
    (6, 6.36),
    (7.22, 7.48)
]

# 複数の時間区間に対応するフィルタリング
mask = pd.Series([False] * len(muscle_data1_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_4['Time'] >= start_time) & (muscle_data1_4['Time'] <= end_time))

# フィルタリングした結果を抽出
mid_muscle_data1_4 = muscle_data1_4.loc[mask]
mid_muscle_data1_4

       Time  Tibialis antelior  Gastrocnemius medialis
380   0.380              0.003                  -0.003
381   0.381              0.006                  -0.001
382   0.382              0.002                   0.000
383   0.383              0.007                   0.001
384   0.384             -0.007                  -0.005
...     ...                ...                     ...
7476  7.476              0.377                  -0.877
7477  7.477              0.257                  -0.881
7478  7.478              0.069                  -0.678
7479  7.479             -0.024                  -0.632
7480  7.480             -0.186                  -0.500

[2147 rows x 3 columns]

In [12]:
mid_muscle_data1 = [mid_muscle_data1_1, mid_muscle_data1_2, mid_muscle_data1_3, mid_muscle_data1_4]
mid_muscle_data1 = pd.concat(mid_muscle_data1, ignore_index=True)
mid_muscle_data1
# mid_muscle_data1.to_csv('../Data/mid_muscle_data1.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.280             -0.034                  -0.029
1     0.281              0.010                  -0.005
2     0.282              0.025                   0.004
3     0.283              0.013                   0.002
4     0.284              0.015                   0.000
...     ...                ...                     ...
8623  7.476              0.377                  -0.877
8624  7.477              0.257                  -0.881
8625  7.478              0.069                  -0.678
8626  7.479             -0.024                  -0.632
8627  7.480             -0.186                  -0.500

[8628 rows x 3 columns]

In [13]:
time_intervals = [
    (0.36, 0.82),
    (1.52, 1.96),
    (2.66, 3.14),
    (3.78, 4.3),
    (5.04, 5.42),
    (6.02, 6.56),
    (7.24, 7.72)
]

mask = pd.Series([False] * len(muscle_data1_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_1['Time'] >= start_time) & (muscle_data1_1['Time'] <= end_time))

fore_muscle_data1_1 = muscle_data1_1.loc[mask]
fore_muscle_data1_1

       Time  Tibialis antelior  Gastrocnemius medialis
360   0.360             -0.042                  -0.030
361   0.361              0.001                  -0.001
362   0.362              0.015                   0.011
363   0.363              0.008                   0.008
364   0.364              0.009                   0.014
...     ...                ...                     ...
7716  7.716             -0.077                   0.014
7717  7.717             -0.102                   0.008
7718  7.718             -0.139                  -0.001
7719  7.719             -0.148                   0.001
7720  7.720             -0.111                   0.006

[3307 rows x 3 columns]

In [14]:
time_intervals = [
    (0.3, 0.68),
    (1.4, 1.8),
    (2.5, 2.94),
    (3.58, 4.04),
    (4.68, 5.18),
    (5.84, 6.32),
    (7, 7.46)
]

mask = pd.Series([False] * len(muscle_data1_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_2['Time'] >= start_time) & (muscle_data1_2['Time'] <= end_time))

fore_muscle_data1_2 = muscle_data1_2.loc[mask]
fore_muscle_data1_2

       Time  Tibialis antelior  Gastrocnemius medialis
300   0.300              0.000                   0.000
301   0.301              0.000                  -0.001
302   0.302              0.000                  -0.001
303   0.303             -0.017                  -0.013
304   0.304             -0.032                  -0.018
...     ...                ...                     ...
7456  7.456             -0.016                   0.008
7457  7.457              0.179                   0.004
7458  7.458              0.146                   0.001
7459  7.459              0.079                   0.003
7460  7.460              0.093                   0.002

[3127 rows x 3 columns]

In [15]:
time_intervals = [
    (0.4, 0.84),
    (1.5, 1.96),
    (2.66, 3.06),
    (3.74, 4.14),
    (4.84, 5.26),
    (5.94, 6.42),
    (7.14, 7.58)
]

mask = pd.Series([False] * len(muscle_data1_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_3['Time'] >= start_time) & (muscle_data1_3['Time'] <= end_time))

fore_muscle_data1_3 = muscle_data1_3.loc[mask]
fore_muscle_data1_3

       Time  Tibialis antelior  Gastrocnemius medialis
400   0.400              0.013                   0.002
401   0.401              0.018                  -0.007
402   0.402              0.016                  -0.001
403   0.403              0.012                   0.003
404   0.404              0.015                   0.005
...     ...                ...                     ...
7576  7.576             -0.029                   0.039
7577  7.577             -0.022                   0.020
7578  7.578             -0.015                   0.014
7579  7.579             -0.007                   0.002
7580  7.580             -0.022                  -0.002

[3047 rows x 3 columns]

In [16]:
time_intervals = [
    (0.4, 0.8),
    (1.5, 1.94),
    (2.6, 3.08),
    (3.82, 4.26),
    (4.98, 5.4),
    (6.12, 6.56),
    (7.32, 7.72)
]

mask = pd.Series([False] * len(muscle_data1_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data1_4['Time'] >= start_time) & (muscle_data1_4['Time'] <= end_time))

fore_muscle_data1_4 = muscle_data1_4.loc[mask]
fore_muscle_data1_4

       Time  Tibialis antelior  Gastrocnemius medialis
400   0.400              0.006                   0.002
401   0.401              0.003                   0.000
402   0.402              0.009                   0.002
403   0.403              0.003                   0.004
404   0.404              0.000                  -0.005
...     ...                ...                     ...
7716  7.716             -0.430                   0.047
7717  7.717             -0.429                   0.043
7718  7.718             -0.457                   0.041
7719  7.719             -0.450                   0.040
7720  7.720             -0.454                   0.041

[3027 rows x 3 columns]

In [17]:
fore_muscle_data1 = [fore_muscle_data1_1, fore_muscle_data1_2, fore_muscle_data1_3, fore_muscle_data1_4]
fore_muscle_data1 = pd.concat(fore_muscle_data1, ignore_index=True)
fore_muscle_data1
# fore_muscle_data1.to_csv('../Data/fore_muscle_data1.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.360             -0.042                  -0.030
1      0.361              0.001                  -0.001
2      0.362              0.015                   0.011
3      0.363              0.008                   0.008
4      0.364              0.009                   0.014
...      ...                ...                     ...
12503  7.716             -0.430                   0.047
12504  7.717             -0.429                   0.043
12505  7.718             -0.457                   0.041
12506  7.719             -0.450                   0.040
12507  7.720             -0.454                   0.041

[12508 rows x 3 columns]

In [18]:
time_intervals = [
    (0.12, 0.44),
    (1.22, 1.46),
    (2.26, 2.48),
    (3.32, 3.6),
    (4.44, 4.74),
    (5.5, 5.72),
    (6.56, 6.82)
]

mask = pd.Series([False] * len(muscle_data5_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_1['Time'] >= start_time) & (muscle_data5_1['Time'] <= end_time))

rear_muscle_data5_1 = muscle_data5_1.loc[mask]
rear_muscle_data5_1

       Time  Tibialis antelior  Gastrocnemius medialis
120   0.120              0.003                  -0.005
121   0.121             -0.014                  -0.017
122   0.122             -0.026                  -0.023
123   0.123             -0.005                  -0.013
124   0.124              0.008                  -0.007
...     ...                ...                     ...
6816  6.816              0.006                   0.153
6817  6.817              0.004                   0.023
6818  6.818              0.000                  -0.021
6819  6.819             -0.001                  -0.027
6820  6.820             -0.005                   0.000

[1847 rows x 3 columns]

In [19]:
time_intervals = [
    (0.1, 0.4),
    (1.16, 1.38),
    (2.2, 2.46),
    (3.26, 3.54),
    (4.32, 4.6),
    (5.38, 5.62),
    (6.46, 6.74)
]

mask = pd.Series([False] * len(muscle_data5_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_2['Time'] >= start_time) & (muscle_data5_2['Time'] <= end_time))

rear_muscle_data5_2 = muscle_data5_2.loc[mask]
rear_muscle_data5_2

       Time  Tibialis antelior  Gastrocnemius medialis
100   0.100             -0.020                  -0.016
101   0.101             -0.045                  -0.029
102   0.102             -0.031                  -0.022
103   0.103              0.003                  -0.001
104   0.104              0.015                   0.001
...     ...                ...                     ...
6736  6.736              0.018                   0.197
6737  6.737              0.017                  -0.060
6738  6.738              0.016                  -0.055
6739  6.739              0.003                  -0.087
6740  6.740             -0.009                  -0.237

[1867 rows x 3 columns]

In [20]:
time_intervals = [
    (0.1, 0.44),
    (1.2, 1.48),
    (2.24, 2.52),
    (3.3, 3.6),
    (4.34, 4.6),
    (5.4, 5.7),
    (6.46, 6.74)
]

mask = pd.Series([False] * len(muscle_data5_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_3['Time'] >= start_time) & (muscle_data5_3['Time'] <= end_time))

rear_muscle_data5_3 = muscle_data5_3.loc[mask]
rear_muscle_data5_3

       Time  Tibialis antelior  Gastrocnemius medialis
100   0.100             -0.017                  -0.034
101   0.101             -0.029                  -0.051
102   0.102             -0.008                   0.009
103   0.103              0.012                   0.079
104   0.104              0.013                   0.010
...     ...                ...                     ...
6736  6.736              0.002                  -0.354
6737  6.737             -0.002                   0.124
6738  6.738              0.001                  -0.079
6739  6.739              0.001                  -0.251
6740  6.740             -0.013                   0.091

[2047 rows x 3 columns]

In [21]:
time_intervals = [
    (0.16, 0.48),
    (1.22, 1.52),
    (2.26, 2.54),
    (3.3, 3.58),
    (4.36, 4.68),
    (5.42, 5.7),
    (6.48, 6.8)
]

mask = pd.Series([False] * len(muscle_data5_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_4['Time'] >= start_time) & (muscle_data5_4['Time'] <= end_time))

rear_muscle_data5_4 = muscle_data5_4.loc[mask]
rear_muscle_data5_4

       Time  Tibialis antelior  Gastrocnemius medialis
160   0.160              0.004                  -0.024
161   0.161             -0.016                  -0.033
162   0.162             -0.018                  -0.032
163   0.163             -0.002                  -0.019
164   0.164              0.011                  -0.020
...     ...                ...                     ...
6796  6.796              0.086                   0.008
6797  6.797             -0.002                   0.009
6798  6.798              0.030                   0.010
6799  6.799             -0.031                   0.008
6800  6.800             -0.037                   0.006

[2107 rows x 3 columns]

In [22]:
rear_muscle_data5 = [rear_muscle_data5_1, rear_muscle_data5_2, rear_muscle_data5_3, rear_muscle_data5_4]
rear_muscle_data5 = pd.concat(rear_muscle_data5, ignore_index=True)
rear_muscle_data5
# rear_muscle_data5.to_csv('../Data/rear_muscle_data5.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.120              0.003                  -0.005
1     0.121             -0.014                  -0.017
2     0.122             -0.026                  -0.023
3     0.123             -0.005                  -0.013
4     0.124              0.008                  -0.007
...     ...                ...                     ...
7863  6.796              0.086                   0.008
7864  6.797             -0.002                   0.009
7865  6.798              0.030                   0.010
7866  6.799             -0.031                   0.008
7867  6.800             -0.037                   0.006

[7868 rows x 3 columns]

In [23]:
time_intervals = [
    (0.22, 0.54),
    (1.3, 1.58),
    (2.34, 2.58),
    (3.42, 3.74),
    (4.54, 4.84),
    (5.6, 5.82),
    (6.66, 6.96)
]

mask = pd.Series([False] * len(muscle_data5_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_1['Time'] >= start_time) & (muscle_data5_1['Time'] <= end_time))

mid_muscle_data5_1 = muscle_data5_1.loc[mask]
mid_muscle_data5_1

       Time  Tibialis antelior  Gastrocnemius medialis
220   0.220              0.003                   0.002
221   0.221             -0.015                  -0.022
222   0.222             -0.023                  -0.033
223   0.223             -0.005                  -0.015
224   0.224              0.012                   0.000
...     ...                ...                     ...
6956  6.956             -0.008                  -0.143
6957  6.957             -0.013                  -0.195
6958  6.958              0.009                  -0.166
6959  6.959              0.017                  -0.281
6960  6.960              0.003                  -0.326

[1987 rows x 3 columns]

In [24]:
time_intervals = [
    (0.26, 0.48),
    (1.26, 1.54),
    (2.28, 2.5),
    (3.36, 3.64),
    (4.42, 4.74),
    (5.48, 5.7),
    (6.56, 6.84)
]

mask = pd.Series([False] * len(muscle_data5_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_2['Time'] >= start_time) & (muscle_data5_2['Time'] <= end_time))

mid_muscle_data5_2 = muscle_data5_2.loc[mask]
mid_muscle_data5_2

       Time  Tibialis antelior  Gastrocnemius medialis
260   0.260             -0.012                  -0.013
261   0.261             -0.045                  -0.030
262   0.262             -0.026                  -0.016
263   0.263              0.015                   0.004
264   0.264              0.023                   0.007
...     ...                ...                     ...
6836  6.836             -0.009                   0.058
6837  6.837             -0.009                   0.141
6838  6.838             -0.010                   0.192
6839  6.839             -0.017                   0.114
6840  6.840             -0.007                   0.033

[1827 rows x 3 columns]

In [25]:
time_intervals = [
    (0.28, 0.52),
    (1.3, 1.62),
    (2.34, 2.62),
    (3.4, 3.56),
    (4.44, 4.76),
    (5.5, 5.78),
    (6.58, 6.82)
]

mask = pd.Series([False] * len(muscle_data5_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_3['Time'] >= start_time) & (muscle_data5_3['Time'] <= end_time))

mid_muscle_data5_3 = muscle_data5_3.loc[mask]
mid_muscle_data5_3

       Time  Tibialis antelior  Gastrocnemius medialis
280   0.280             -0.019                  -0.034
281   0.281             -0.032                  -0.042
282   0.282             -0.008                  -0.020
283   0.283              0.015                   0.014
284   0.284              0.015                   0.004
...     ...                ...                     ...
6816  6.816              0.023                  -0.101
6817  6.817              0.015                   0.006
6818  6.818              0.008                  -0.074
6819  6.819              0.000                  -0.051
6820  6.820             -0.005                  -0.037

[1847 rows x 3 columns]

In [26]:
time_intervals = [
    (0.38, 0.56),
    (1.32, 1.6),
    (2.36, 2.6),
    (3.38, 3.72),
    (4.46, 4.78),
    (5.52, 5.82),
    (6.58, 6.88)
]

mask = pd.Series([False] * len(muscle_data5_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_4['Time'] >= start_time) & (muscle_data5_4['Time'] <= end_time))

mid_muscle_data5_4 = muscle_data5_4.loc[mask]
mid_muscle_data5_4

       Time  Tibialis antelior  Gastrocnemius medialis
380   0.380              0.001                   0.036
381   0.381             -0.013                  -0.013
382   0.382             -0.017                  -0.006
383   0.383              0.002                  -0.007
384   0.384              0.012                   0.004
...     ...                ...                     ...
6876  6.876             -0.051                   0.015
6877  6.877             -0.027                   0.014
6878  6.878             -0.024                   0.015
6879  6.879             -0.007                   0.017
6880  6.880              0.008                   0.014

[1967 rows x 3 columns]

In [27]:
mid_muscle_data5 = [mid_muscle_data5_1, mid_muscle_data5_2, mid_muscle_data5_3, mid_muscle_data5_4]
mid_muscle_data5 = pd.concat(mid_muscle_data5, ignore_index=True)
mid_muscle_data5
# mid_muscle_data5.to_csv('../Data/mid_muscle_data5.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.220              0.003                   0.002
1     0.221             -0.015                  -0.022
2     0.222             -0.023                  -0.033
3     0.223             -0.005                  -0.015
4     0.224              0.012                   0.000
...     ...                ...                     ...
7623  6.876             -0.051                   0.015
7624  6.877             -0.027                   0.014
7625  6.878             -0.024                   0.015
7626  6.879             -0.007                   0.017
7627  6.880              0.008                   0.014

[7628 rows x 3 columns]

In [28]:
time_intervals = [
    (0.34, 0.72),
    (1.42, 1.78),
    (2.42, 2.82),
    (3.52, 3.92),
    (4.66, 5),
    (5.64, 6.06),
    (6.72, 7.16)
]

mask = pd.Series([False] * len(muscle_data5_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_1['Time'] >= start_time) & (muscle_data5_1['Time'] <= end_time))

fore_muscle_data5_1 = muscle_data5_1.loc[mask]
fore_muscle_data5_1

       Time  Tibialis antelior  Gastrocnemius medialis
340   0.340             -0.001                  -0.003
341   0.341             -0.016                  -0.011
342   0.342             -0.026                  -0.013
343   0.343             -0.006                  -0.003
344   0.344              0.011                   0.003
...     ...                ...                     ...
7156  7.156             -0.038                  -0.001
7157  7.157             -0.041                   0.004
7158  7.158             -0.006                   0.000
7159  7.159             -0.063                  -0.004
7160  7.160             -0.111                  -0.008

[2747 rows x 3 columns]

In [29]:
time_intervals = [
    (0.34, 0.7),
    (1.32, 1.72),
    (2.4, 2.78),
    (3.46, 3.82),
    (4.52, 4.92),
    (5.56, 5.96),
    (6.66, 7.06)
]

mask = pd.Series([False] * len(muscle_data5_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_2['Time'] >= start_time) & (muscle_data5_2['Time'] <= end_time))

fore_muscle_data5_2 = muscle_data5_2.loc[mask]
fore_muscle_data5_2

       Time  Tibialis antelior  Gastrocnemius medialis
340   0.340             -0.016                  -0.017
341   0.341             -0.050                  -0.046
342   0.342             -0.026                  -0.022
343   0.343              0.015                   0.005
344   0.344              0.022                   0.003
...     ...                ...                     ...
7056  7.056             -0.007                  -0.005
7057  7.057             -0.007                  -0.004
7058  7.058             -0.017                   0.005
7059  7.059             -0.039                  -0.001
7060  7.060             -0.064                  -0.005

[2707 rows x 3 columns]

In [30]:
time_intervals = [
    (0.38, 0.72),
    (1.42, 1.76),
    (2.44, 2.82),
    (3.52, 3.86),
    (4.52, 4.92),
    (5.62, 5.98),
    (6.66, 7.06)
]

mask = pd.Series([False] * len(muscle_data5_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_3['Time'] >= start_time) & (muscle_data5_3['Time'] <= end_time))

fore_muscle_data5_3 = muscle_data5_3.loc[mask]
fore_muscle_data5_3

       Time  Tibialis antelior  Gastrocnemius medialis
380   0.380             -0.027                  -0.018
381   0.381             -0.041                  -0.031
382   0.382             -0.015                  -0.030
383   0.383              0.011                  -0.032
384   0.384              0.014                  -0.036
...     ...                ...                     ...
7056  7.056             -0.118                  -0.004
7057  7.057             -0.042                  -0.005
7058  7.058              0.065                  -0.006
7059  7.059             -0.107                  -0.005
7060  7.060             -0.167                  -0.003

[2567 rows x 3 columns]

In [31]:
time_intervals = [
    (0.42, 0.74),
    (1.44, 1.78),
    (2.46, 2.84),
    (3.52, 3.84),
    (4.62, 4.94),
    (5.64, 6.0),
    (6.72, 7.08)
]

mask = pd.Series([False] * len(muscle_data5_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data5_4['Time'] >= start_time) & (muscle_data5_4['Time'] <= end_time))

fore_muscle_data5_4 = muscle_data5_4.loc[mask]
fore_muscle_data5_4

       Time  Tibialis antelior  Gastrocnemius medialis
420   0.420             -0.001                   0.009
421   0.421             -0.015                   0.018
422   0.422             -0.018                   0.013
423   0.423              0.000                  -0.041
424   0.424              0.013                  -0.085
...     ...                ...                     ...
7076  7.076              0.150                   0.006
7077  7.077             -0.062                   0.008
7078  7.078             -0.284                   0.014
7079  7.079             -0.270                   0.016
7080  7.080             -0.361                   0.014

[2407 rows x 3 columns]

In [32]:
fore_muscle_data5 = [fore_muscle_data5_1, fore_muscle_data5_2, fore_muscle_data5_3, fore_muscle_data5_4]
fore_muscle_data5 = pd.concat(fore_muscle_data5, ignore_index=True)
fore_muscle_data5
# fore_muscle_data5.to_csv('../Data/fore_muscle_data5.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.340             -0.001                  -0.003
1      0.341             -0.016                  -0.011
2      0.342             -0.026                  -0.013
3      0.343             -0.006                  -0.003
4      0.344              0.011                   0.003
...      ...                ...                     ...
10423  7.076              0.150                   0.006
10424  7.077             -0.062                   0.008
10425  7.078             -0.284                   0.014
10426  7.079             -0.270                   0.016
10427  7.080             -0.361                   0.014

[10428 rows x 3 columns]

In [33]:
time_intervals = [
    (0.2, 0.6),
    (1.4, 1.7),
    (2.5, 2.88),
    (3.62, 3.92),
    (4.78, 5.06),
    (5.86, 6.18),
    (6.96, 7.26)
]

mask = pd.Series([False] * len(muscle_data6_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_1['Time'] >= start_time) & (muscle_data6_1['Time'] <= end_time))

rear_muscle_data6_1 = muscle_data6_1.loc[mask]
rear_muscle_data6_1

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200             -0.024                   0.051
201   0.201             -0.037                   0.111
202   0.202              0.006                   0.065
203   0.203              0.053                  -0.042
204   0.204              0.067                  -0.057
...     ...                ...                     ...
7256  7.256             -0.296                  -0.076
7257  7.257             -0.291                  -0.121
7258  7.258             -0.262                  -0.078
7259  7.259             -0.250                  -0.124
7260  7.260             -0.212                  -0.099

[2287 rows x 3 columns]

In [34]:
time_intervals = [
    (0.22, 0.62),
    (1.32, 1.62),
    (2.36, 2.62),
    (3.4, 3.72),
    (4.5, 4.76),
    (5.58, 5.92),
    (6.68, 7)
]

mask = pd.Series([False] * len(muscle_data6_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_2['Time'] >= start_time) & (muscle_data6_2['Time'] <= end_time))

rear_muscle_data6_2 = muscle_data6_2.loc[mask]
rear_muscle_data6_2

       Time  Tibialis antelior  Gastrocnemius medialis
220   0.220              0.059                   0.000
221   0.221              0.038                  -0.005
222   0.222              0.022                  -0.007
223   0.223              0.021                  -0.007
224   0.224              0.024                   0.000
...     ...                ...                     ...
6996  6.996             -0.034                  -0.449
6997  6.997             -0.033                  -0.394
6998  6.998             -0.030                  -0.416
6999  6.999             -0.030                  -0.230
7000  7.000             -0.028                   0.512

[2207 rows x 3 columns]

In [35]:
time_intervals = [
    (0.2, 0.58),
    (1.32, 1.62),
    (2.38, 2.66),
    (3.44, 3.74),
    (4.54, 4.84),
    (5.64, 5.98),
    (6.72, 7.08)
]

mask = pd.Series([False] * len(muscle_data6_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_3['Time'] >= start_time) & (muscle_data6_3['Time'] <= end_time))

rear_muscle_data6_3 = muscle_data6_3.loc[mask]
rear_muscle_data6_3

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200             -0.070                   0.003
201   0.201             -0.073                   0.002
202   0.202              0.015                   0.008
203   0.203              0.142                   0.006
204   0.204              0.145                  -0.007
...     ...                ...                     ...
7076  7.076             -0.259                   0.034
7077  7.077             -0.302                   0.023
7078  7.078             -0.337                   0.020
7079  7.079             -0.354                   0.020
7080  7.080             -0.369                   0.020

[2267 rows x 3 columns]

In [36]:
time_intervals = [
    (0.12, 0.52),
    (1.22, 1.5),
    (2.28, 2.56),
    (3.36, 3.62),
    (4.48, 4.8),
    (5.56, 5.88),
    (6.64, 6.96)
]

mask = pd.Series([False] * len(muscle_data6_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_4['Time'] >= start_time) & (muscle_data6_4['Time'] <= end_time))

rear_muscle_data6_4 = muscle_data6_4.loc[mask]
rear_muscle_data6_4

       Time  Tibialis antelior  Gastrocnemius medialis
120   0.120             -0.019                  -0.231
121   0.121             -0.013                  -0.096
122   0.122              0.002                   0.044
123   0.123             -0.027                  -0.124
124   0.124             -0.032                  -0.390
...     ...                ...                     ...
6956  6.956             -0.248                   0.006
6957  6.957             -0.244                   0.006
6958  6.958             -0.238                   0.001
6959  6.959             -0.230                   0.002
6960  6.960             -0.224                   0.001

[2187 rows x 3 columns]

In [37]:
rear_muscle_data6 = [rear_muscle_data6_1, rear_muscle_data6_2, rear_muscle_data6_3, rear_muscle_data6_4]
rear_muscle_data6 = pd.concat(rear_muscle_data6, ignore_index=True)
rear_muscle_data6
# rear_muscle_data6.to_csv('../Data/rear_muscle_data6.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.200             -0.024                   0.051
1     0.201             -0.037                   0.111
2     0.202              0.006                   0.065
3     0.203              0.053                  -0.042
4     0.204              0.067                  -0.057
...     ...                ...                     ...
8943  6.956             -0.248                   0.006
8944  6.957             -0.244                   0.006
8945  6.958             -0.238                   0.001
8946  6.959             -0.230                   0.002
8947  6.960             -0.224                   0.001

[8948 rows x 3 columns]

In [38]:
time_intervals = [
    (0.54, 0.58),
    (1.6, 1.82),
    (3.82, 4.02),
    (3.82, 4.02),
    (4.96, 5.16),
    (7.16, 7.38),
    (7.16, 7.38)
]

mask = pd.Series([False] * len(muscle_data6_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_1['Time'] >= start_time) & (muscle_data6_1['Time'] <= end_time))

mid_muscle_data6_1 = muscle_data6_1.loc[mask]
mid_muscle_data6_1

       Time  Tibialis antelior  Gastrocnemius medialis
540   0.540             -0.010                  -0.015
541   0.541             -0.039                  -0.003
542   0.542             -0.050                   0.000
543   0.543             -0.035                  -0.002
544   0.544             -0.055                  -0.002
...     ...                ...                     ...
7376  7.376              0.000                   0.001
7377  7.377             -0.001                   0.001
7378  7.378              0.000                   0.000
7379  7.379             -0.006                   0.000
7380  7.380              0.000                  -0.001

[885 rows x 3 columns]

In [39]:
time_intervals = [
    (0.54, 0.62),
    (1.52, 1.62),
    (2.46, 2.74),
    (3.54, 3.72),
    (4.64, 4.76),
    (5.78, 5.94),
    (6.88, 7)
]

mask = pd.Series([False] * len(muscle_data6_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_2['Time'] >= start_time) & (muscle_data6_2['Time'] <= end_time))

mid_muscle_data6_2 = muscle_data6_2.loc[mask]
mid_muscle_data6_2

       Time  Tibialis antelior  Gastrocnemius medialis
540   0.540              0.095                  -0.175
541   0.541              0.107                  -0.029
542   0.542              0.087                   0.153
543   0.543              0.065                   0.008
544   0.544              0.040                  -0.114
...     ...                ...                     ...
6996  6.996             -0.034                  -0.449
6997  6.997             -0.033                  -0.394
6998  6.998             -0.030                  -0.416
6999  6.999             -0.030                  -0.230
7000  7.000             -0.028                   0.512

[1047 rows x 3 columns]

In [40]:
time_intervals = [
    (0.52, 0.68),
    (2.62, 2.78),
    (2.62, 2.78),
    (3.66, 3.82),
    (4.74, 4.98),
    (4.74, 4.98),
    (4.74, 4.98)
]

mask = pd.Series([False] * len(muscle_data6_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_3['Time'] >= start_time) & (muscle_data6_3['Time'] <= end_time))

mid_muscle_data6_3 = muscle_data6_3.loc[mask]
mid_muscle_data6_3

       Time  Tibialis antelior  Gastrocnemius medialis
520   0.520              0.034                   0.000
521   0.521              0.019                  -0.037
522   0.522              0.023                  -0.051
523   0.523              0.019                  -0.045
524   0.524              0.007                  -0.022
...     ...                ...                     ...
4976  4.976             -0.066                   0.000
4977  4.977             -0.064                   0.000
4978  4.978             -0.061                   0.001
4979  4.979             -0.062                   0.002
4980  4.980             -0.071                   0.000

[724 rows x 3 columns]

In [41]:
time_intervals = [
    (1.4, 1.48),
    (1.4, 1.48),
    (2.48, 2.62),
    (3.52, 3.72),
    (4.74, 4.9),
    (5.74, 5.92),
    (6.94, 7.02)
]

mask = pd.Series([False] * len(muscle_data6_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_4['Time'] >= start_time) & (muscle_data6_4['Time'] <= end_time))

mid_muscle_data6_4 = muscle_data6_4.loc[mask]
mid_muscle_data6_4

       Time  Tibialis antelior  Gastrocnemius medialis
1400  1.400              3.318                   0.277
1401  1.401              3.311                   0.186
1402  1.402              3.283                   0.049
1403  1.403              3.249                   0.068
1404  1.404              3.211                   0.077
...     ...                ...                     ...
7016  7.016             -0.128                   0.004
7017  7.017             -0.118                   0.005
7018  7.018             -0.088                   0.008
7019  7.019             -0.081                   0.007
7020  7.020             -0.048                   0.013

[846 rows x 3 columns]

In [42]:
mid_muscle_data6 = [mid_muscle_data6_1, mid_muscle_data6_2, mid_muscle_data6_3, mid_muscle_data6_4]
mid_muscle_data6 = pd.concat(mid_muscle_data6, ignore_index=True)
mid_muscle_data6
# mid_muscle_data6.to_csv('../Data/mid_muscle_data6.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.540             -0.010                  -0.015
1     0.541             -0.039                  -0.003
2     0.542             -0.050                   0.000
3     0.543             -0.035                  -0.002
4     0.544             -0.055                  -0.002
...     ...                ...                     ...
3497  7.016             -0.128                   0.004
3498  7.017             -0.118                   0.005
3499  7.018             -0.088                   0.008
3500  7.019             -0.081                   0.007
3501  7.020             -0.048                   0.013

[3502 rows x 3 columns]

In [43]:
time_intervals = [
    (0.54, 0.88),
    (1.62, 2.02),
    (2.82, 3.14),
    (3.88, 4.26),
    (5, 5.38),
    (6.12, 6.48)
]

mask = pd.Series([False] * len(muscle_data6_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_1['Time'] >= start_time) & (muscle_data6_1['Time'] <= end_time))

fore_muscle_data6_1 = muscle_data6_1.loc[mask]
fore_muscle_data6_1

       Time  Tibialis antelior  Gastrocnemius medialis
540   0.540             -0.010                  -0.015
541   0.541             -0.039                  -0.003
542   0.542             -0.050                   0.000
543   0.543             -0.035                  -0.002
544   0.544             -0.055                  -0.002
...     ...                ...                     ...
6476  6.476              0.053                   0.016
6477  6.477              0.069                   0.014
6478  6.478              0.087                   0.011
6479  6.479              0.067                   0.011
6480  6.480              0.080                   0.008

[2186 rows x 3 columns]

In [44]:
time_intervals = [
    (0.34, 0.7),
    (1.32, 1.72),
    (2.4, 2.78),
    (3.46, 3.82),
    (4.52, 4.92),
    (5.56, 5.96),
    (6.66, 7.06)
]

mask = pd.Series([False] * len(muscle_data6_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_2['Time'] >= start_time) & (muscle_data6_2['Time'] <= end_time))

fore_muscle_data6_2 = muscle_data6_2.loc[mask]
fore_muscle_data6_2

       Time  Tibialis antelior  Gastrocnemius medialis
340   0.340             -0.009                  -0.019
341   0.341              0.056                   0.010
342   0.342              0.092                  -0.045
343   0.343              0.044                   0.030
344   0.344              0.015                   0.239
...     ...                ...                     ...
7056  7.056              0.955                  -0.288
7057  7.057              0.900                  -0.275
7058  7.058              0.857                  -0.383
7059  7.059              0.825                  -0.549
7060  7.060              0.794                  -0.289

[2707 rows x 3 columns]

In [45]:
time_intervals = [
    (0.56, 0.84),
    (1.58, 1.88),
    (2.6, 2.94),
    (3.6, 4),
    (4.7, 5.1),
    (5.9, 6.22)
]

mask = pd.Series([False] * len(muscle_data6_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_3['Time'] >= start_time) & (muscle_data6_3['Time'] <= end_time))

fore_muscle_data6_3 = muscle_data6_3.loc[mask]
fore_muscle_data6_3

       Time  Tibialis antelior  Gastrocnemius medialis
560   0.560             -0.011                   0.033
561   0.561             -0.002                   0.006
562   0.562              0.012                  -0.054
563   0.563              0.020                  -0.101
564   0.564              0.031                  -0.086
...     ...                ...                     ...
6216  6.216             -0.007                  -0.007
6217  6.217             -0.027                  -0.008
6218  6.218              0.022                  -0.012
6219  6.219              0.103                  -0.013
6220  6.220              0.167                  -0.011

[2046 rows x 3 columns]

In [46]:
time_intervals = [
    (0.56, 0.84),
    (1.6, 1.92),
    (2.64, 2.98),
    (3.72, 4.06),
    (4.8, 5.16),
    (5.92, 6.22)
]

mask = pd.Series([False] * len(muscle_data6_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data6_4['Time'] >= start_time) & (muscle_data6_4['Time'] <= end_time))

fore_muscle_data6_4 = muscle_data6_4.loc[mask]
fore_muscle_data6_4

       Time  Tibialis antelior  Gastrocnemius medialis
560   0.560             -0.002                  -0.028
561   0.561             -0.012                  -0.042
562   0.562             -0.021                  -0.051
563   0.563             -0.057                  -0.065
564   0.564             -0.111                  -0.073
...     ...                ...                     ...
6216  6.216             -0.006                   0.065
6217  6.217             -0.026                   0.030
6218  6.218             -0.025                   0.034
6219  6.219             -0.053                   0.034
6220  6.220             -0.081                   0.029

[1946 rows x 3 columns]

In [47]:
fore_muscle_data6 = [fore_muscle_data6_1, fore_muscle_data6_2, fore_muscle_data6_3, fore_muscle_data6_4]
fore_muscle_data6 = pd.concat(fore_muscle_data6, ignore_index=True)
fore_muscle_data6
# fore_muscle_data6.to_csv('../Data/fore_muscle_data6.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.540             -0.010                  -0.015
1     0.541             -0.039                  -0.003
2     0.542             -0.050                   0.000
3     0.543             -0.035                  -0.002
4     0.544             -0.055                  -0.002
...     ...                ...                     ...
8880  6.216             -0.006                   0.065
8881  6.217             -0.026                   0.030
8882  6.218             -0.025                   0.034
8883  6.219             -0.053                   0.034
8884  6.220             -0.081                   0.029

[8885 rows x 3 columns]

In [48]:
time_intervals = [
    (0.12, 0.5),
    (1.28, 1.68),
    (2.38, 2.7),
    (3.46, 3.76),
    (4.54, 4.9),
    (5.62, 5.96),
    (6.7, 7.02),
    (7.76, 8.14),
    (8.82, 9.22)
]

mask = pd.Series([False] * len(muscle_data14_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_1['Time'] >= start_time) & (muscle_data14_1['Time'] <= end_time))

rear_muscle_data14_1 = muscle_data14_1.loc[mask]
rear_muscle_data14_1

       Time  Tibialis antelior  Gastrocnemius medialis
120   0.120              0.000                   0.002
121   0.121              0.003                  -0.001
122   0.122              0.002                   0.001
123   0.123             -0.001                   0.001
124   0.124             -0.009                  -0.002
...     ...                ...                     ...
9216  9.216              0.100                   0.009
9217  9.217             -0.013                   0.008
9218  9.218             -0.025                   0.001
9219  9.219              0.027                  -0.011
9220  9.220              0.066                  -0.006

[3209 rows x 3 columns]

In [49]:
time_intervals = [
    (1.02, 1.36),
    (2.1, 2.38),
    (3.14, 3.42),
    (4.24, 4.54),
    (5.32, 5.66),
    (6.42, 6.78),
    (7.5, 7.86),
    (8.58, 9)
]

mask = pd.Series([False] * len(muscle_data14_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_2['Time'] >= start_time) & (muscle_data14_2['Time'] <= end_time))

rear_muscle_data14_2 = muscle_data14_2.loc[mask]
rear_muscle_data14_2

       Time  Tibialis antelior  Gastrocnemius medialis
1020  1.020             -0.001                   0.000
1021  1.021              0.006                   0.004
1022  1.022              0.009                   0.007
1023  1.023              0.006                   0.004
1024  1.024              0.005                   0.006
...     ...                ...                     ...
8996  8.996              0.000                   0.002
8997  8.997             -0.007                   0.000
8998  8.998             -0.012                  -0.001
8999  8.999             -0.014                   0.002
9000  9.000             -0.023                   0.003

[2688 rows x 3 columns]

In [50]:
time_intervals = [
    (1.04, 1.4),
    (2.1, 2.4),
    (3.16, 3.46),
    (4.22, 4.56),
    (5.28, 5.64),
    (6.34, 6.66),
    (7.38, 7.76),
    (8.46, 8.8)
]

mask = pd.Series([False] * len(muscle_data14_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_3['Time'] >= start_time) & (muscle_data14_3['Time'] <= end_time))

rear_muscle_data14_3 = muscle_data14_3.loc[mask]
rear_muscle_data14_3

       Time  Tibialis antelior  Gastrocnemius medialis
1040  1.040              0.006                  -0.001
1041  1.041              0.001                   0.000
1042  1.042             -0.001                   0.003
1043  1.043             -0.003                   0.004
1044  1.044              0.000                   0.006
...     ...                ...                     ...
8796  8.796              0.008                   0.002
8797  8.797              0.026                   0.000
8798  8.798              0.070                   0.000
8799  8.799              0.088                   0.004
8800  8.800              0.061                   0.003

[2708 rows x 3 columns]

In [51]:
time_intervals = [
    (1.68, 1.94),
    (2.7, 3.04),
    (3.74, 4.1),
    (4.82, 5.12),
    (5.86, 6.22),
    (6.92, 7.28),
    (8.02, 8.4)
]

mask = pd.Series([False] * len(muscle_data14_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_4['Time'] >= start_time) & (muscle_data14_4['Time'] <= end_time))

rear_muscle_data14_4 = muscle_data14_4.loc[mask]
rear_muscle_data14_4

       Time  Tibialis antelior  Gastrocnemius medialis
1680  1.680             -0.041                   0.001
1681  1.681             -0.027                   0.001
1682  1.682             -0.012                   0.000
1683  1.683             -0.040                   0.000
1684  1.684             -0.007                   0.000
...     ...                ...                     ...
8396  8.396             -0.026                  -0.007
8397  8.397             -0.056                  -0.007
8398  8.398             -0.015                  -0.010
8399  8.399              0.004                  -0.008
8400  8.400              0.014                  -0.005

[2367 rows x 3 columns]

In [52]:
rear_muscle_data14 = [rear_muscle_data14_1, rear_muscle_data14_2, rear_muscle_data14_3, rear_muscle_data14_4]
rear_muscle_data14 = pd.concat(rear_muscle_data14, ignore_index=True)
rear_muscle_data14
# rear_muscle_data14.to_csv('../Data/rear_muscle_data14.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.120              0.000                   0.002
1      0.121              0.003                  -0.001
2      0.122              0.002                   0.001
3      0.123             -0.001                   0.001
4      0.124             -0.009                  -0.002
...      ...                ...                     ...
10967  8.396             -0.026                  -0.007
10968  8.397             -0.056                  -0.007
10969  8.398             -0.015                  -0.010
10970  8.399              0.004                  -0.008
10971  8.400              0.014                  -0.005

[10972 rows x 3 columns]

In [53]:
time_intervals = [
    (0.26, 0.64),
    (1.42, 1.76),
    (2.5, 2.8),
    (3.58, 3.9),
    (4.64, 5),
    (5.72, 6.1),
    (6.8, 7.16),
    (7.88, 8.22),
    (8.94, 9.32)
]

mask = pd.Series([False] * len(muscle_data14_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_1['Time'] >= start_time) & (muscle_data14_1['Time'] <= end_time))

mid_muscle_data14_1 = muscle_data14_1.loc[mask]
mid_muscle_data14_1

       Time  Tibialis antelior  Gastrocnemius medialis
260   0.260             -0.002                   0.003
261   0.261             -0.002                  -0.007
262   0.262             -0.002                  -0.007
263   0.263             -0.002                  -0.001
264   0.264             -0.009                  -0.001
...     ...                ...                     ...
9316  9.316              0.006                   0.016
9317  9.317              0.001                   0.028
9318  9.318             -0.002                   0.026
9319  9.319              0.008                   0.029
9320  9.320              0.014                   0.037

[3169 rows x 3 columns]

In [54]:
time_intervals = [
    (1.1, 1.46),
    (2.18, 2.52),
    (3.22, 3.58),
    (4.32, 4.68),
    (5.42, 5.8),
    (6.52, 6.88),
    (7.6, 7.98),
    (8.7, 9.08)
]

mask = pd.Series([False] * len(muscle_data14_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_2['Time'] >= start_time) & (muscle_data14_2['Time'] <= end_time))

mid_muscle_data14_2 = muscle_data14_2.loc[mask]
mid_muscle_data14_2

       Time  Tibialis antelior  Gastrocnemius medialis
1100  1.100             -0.002                  -0.005
1101  1.101              0.005                   0.000
1102  1.102              0.010                   0.000
1103  1.103              0.008                  -0.002
1104  1.104              0.009                   0.001
...     ...                ...                     ...
9076  9.076              0.004                   0.000
9077  9.077              0.001                  -0.004
9078  9.078              0.006                  -0.002
9079  9.079              0.004                  -0.003
9080  9.080              0.002                  -0.002

[2928 rows x 3 columns]

In [55]:
time_intervals = [
    (1.14, 1.46),
    (2.18, 2.54),
    (3.26, 3.6),
    (4.34, 4.66),
    (5.44, 5.72),
    (6.46, 6.78),
    (7.5, 7.84),
    (8.54, 8.94)
]

mask = pd.Series([False] * len(muscle_data14_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_3['Time'] >= start_time) & (muscle_data14_3['Time'] <= end_time))

mid_muscle_data14_3 = muscle_data14_3.loc[mask]
mid_muscle_data14_3

       Time  Tibialis antelior  Gastrocnemius medialis
1140  1.140              0.006                   0.003
1141  1.141              0.006                  -0.002
1142  1.142              0.004                   0.003
1143  1.143              0.003                   0.002
1144  1.144              0.000                   0.002
...     ...                ...                     ...
8936  8.936              0.078                   0.004
8937  8.937              0.108                   0.001
8938  8.938              0.062                   0.001
8939  8.939              0.025                   0.002
8940  8.940              0.055                   0.004

[2688 rows x 3 columns]

In [56]:
time_intervals = [
    (0.74, 1.06),
    (1.76, 2.1),
    (2.82, 3.16),
    (3.86, 4.18),
    (4.96, 5.26),
    (5.96, 6.3),
    (7.06, 7.38),
    (8.12, 8.5)
]

mask = pd.Series([False] * len(muscle_data14_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_4['Time'] >= start_time) & (muscle_data14_4['Time'] <= end_time))

mid_muscle_data14_4 = muscle_data14_4.loc[mask]
mid_muscle_data14_4

       Time  Tibialis antelior  Gastrocnemius medialis
740   0.740             -0.003                   0.008
741   0.741             -0.005                   0.007
742   0.742             -0.006                   0.004
743   0.743              0.000                   0.000
744   0.744             -0.002                  -0.005
...     ...                ...                     ...
8496  8.496              0.070                   0.011
8497  8.497              0.047                   0.012
8498  8.498              0.016                   0.013
8499  8.499              0.015                   0.016
8500  8.500              0.009                   0.017

[2668 rows x 3 columns]

In [57]:
mid_muscle_data14 = [mid_muscle_data14_1, mid_muscle_data14_2, mid_muscle_data14_3, mid_muscle_data14_4]
mid_muscle_data14 = pd.concat(mid_muscle_data14, ignore_index=True)
mid_muscle_data14
# mid_muscle_data14.to_csv('../Data/mid_muscle_data14.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.260             -0.002                   0.003
1      0.261             -0.002                  -0.007
2      0.262             -0.002                  -0.007
3      0.263             -0.002                  -0.001
4      0.264             -0.009                  -0.001
...      ...                ...                     ...
11448  8.496              0.070                   0.011
11449  8.497              0.047                   0.012
11450  8.498              0.016                   0.013
11451  8.499              0.015                   0.016
11452  8.500              0.009                   0.017

[11453 rows x 3 columns]

In [58]:
time_intervals = [
    (0.24, 0.8),
    (1.4, 1.92),
    (2.48, 2.98),
    (3.56, 4.06),
    (4.64, 5.14),
    (5.7, 6.22),
    (6.78, 7.3),
    (7.86, 8.36)
]

mask = pd.Series([False] * len(muscle_data14_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_1['Time'] >= start_time) & (muscle_data14_1['Time'] <= end_time))

fore_muscle_data14_1 = muscle_data14_1.loc[mask]
fore_muscle_data14_1

       Time  Tibialis antelior  Gastrocnemius medialis
240   0.240             -0.002                  -0.007
241   0.241              0.000                   0.000
242   0.242             -0.001                   0.002
243   0.243             -0.003                   0.001
244   0.244             -0.015                  -0.006
...     ...                ...                     ...
8356  8.356              0.006                   0.003
8357  8.357              0.036                   0.002
8358  8.358              0.028                   0.006
8359  8.359              0.031                   0.019
8360  8.360              0.066                   0.016

[4128 rows x 3 columns]

In [59]:
time_intervals = [
    (0.08, 0.56),
    (1.12, 1.62),
    (2.18, 2.68),
    (3.24, 3.76),
    (4.32, 4.84),
    (5.42, 5.94),
    (6.52, 7.02),
    (7.6, 8.12)
]

mask = pd.Series([False] * len(muscle_data14_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_2['Time'] >= start_time) & (muscle_data14_2['Time'] <= end_time))

fore_muscle_data14_2 = muscle_data14_2.loc[mask]
fore_muscle_data14_2

       Time  Tibialis antelior  Gastrocnemius medialis
80    0.080             -0.010                  -0.008
81    0.081              0.003                  -0.005
82    0.082              0.006                   0.000
83    0.083              0.007                   0.001
84    0.084              0.011                   0.003
...     ...                ...                     ...
8116  8.116              0.173                   0.000
8117  8.117              0.095                   0.001
8118  8.118             -0.092                   0.006
8119  8.119             -0.036                   0.016
8120  8.120              0.194                   0.016

[4068 rows x 3 columns]

In [60]:
time_intervals = [
    (0.08, 0.58),
    (1.14, 1.64),
    (2.18, 2.68),
    (3.26, 3.76),
    (4.34, 4.82),
    (5.42, 5.88),
    (6.44, 6.94),
    (7.5, 7.98)
]

mask = pd.Series([False] * len(muscle_data14_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_3['Time'] >= start_time) & (muscle_data14_3['Time'] <= end_time))

fore_muscle_data14_3 = muscle_data14_3.loc[mask]
fore_muscle_data14_3

       Time  Tibialis antelior  Gastrocnemius medialis
80    0.080              0.007                   0.001
81    0.081              0.007                  -0.001
82    0.082              0.004                   0.002
83    0.083              0.003                   0.005
84    0.084              0.004                   0.009
...     ...                ...                     ...
7976  7.976             -0.043                  -0.013
7977  7.977             -0.048                  -0.017
7978  7.978             -0.035                  -0.021
7979  7.979             -0.051                  -0.019
7980  7.980             -0.035                  -0.014

[3928 rows x 3 columns]

In [61]:
time_intervals = [
    (0, 0.18),
    (0.74, 1.22),
    (1.76, 2.24),
    (2.8, 3.28),
    (3.86, 4.34),
    (4.92, 5.4),
    (5.96, 6.44),
    (7.02, 7.54)
]

mask = pd.Series([False] * len(muscle_data14_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data14_4['Time'] >= start_time) & (muscle_data14_4['Time'] <= end_time))

fore_muscle_data14_4 = muscle_data14_4.loc[mask]
fore_muscle_data14_4

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.002                   0.003
1     0.001              0.001                  -0.002
2     0.002              0.002                  -0.003
3     0.003              0.002                  -0.001
4     0.004             -0.001                   0.000
...     ...                ...                     ...
7536  7.536              0.055                  -0.002
7537  7.537              0.069                   0.013
7538  7.538              0.108                   0.017
7539  7.539              0.072                   0.008
7540  7.540              0.046                   0.004

[3588 rows x 3 columns]

In [62]:
fore_muscle_data14 = [fore_muscle_data14_1, fore_muscle_data14_2, fore_muscle_data14_3, fore_muscle_data14_4]
fore_muscle_data14 = pd.concat(fore_muscle_data14, ignore_index=True)
fore_muscle_data14
# fore_muscle_data14.to_csv('../Data/fore_muscle_data14.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.240             -0.002                  -0.007
1      0.241              0.000                   0.000
2      0.242             -0.001                   0.002
3      0.243             -0.003                   0.001
4      0.244             -0.015                  -0.006
...      ...                ...                     ...
15707  7.536              0.055                  -0.002
15708  7.537              0.069                   0.013
15709  7.538              0.108                   0.017
15710  7.539              0.072                   0.008
15711  7.540              0.046                   0.004

[15712 rows x 3 columns]

In [63]:
time_intervals = [
    (0.1, 0.6),
    (1.4, 1.76),
    (2.68, 3),
    (3.92, 4.22),
    (5.16, 5.42),
    (6.4, 6.74),
    (7.6, 7.98),
    (8.82, 9.22)
]

mask = pd.Series([False] * len(muscle_data15_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_1['Time'] >= start_time) & (muscle_data15_1['Time'] <= end_time))

rear_muscle_data15_1 = muscle_data15_1.loc[mask]
rear_muscle_data15_1

       Time  Tibialis antelior  Gastrocnemius medialis
100   0.100              0.003                   0.012
101   0.101              0.009                   0.014
102   0.102              0.007                   0.006
103   0.103              0.006                  -0.012
104   0.104             -0.001                  -0.021
...     ...                ...                     ...
9216  9.216              0.014                  -0.011
9217  9.217             -0.013                  -0.009
9218  9.218             -0.008                  -0.010
9219  9.219             -0.006                  -0.011
9220  9.220             -0.026                  -0.003

[2868 rows x 3 columns]

In [64]:
time_intervals = [
    (0.2, 0.54),
    (1.44, 1.74),
    (2.66, 2.96),
    (3.78, 4),
    (4.92, 5.22),
    (6.08, 6.3),
    (7.26, 7.56),
    (8.44, 8.82)
]

mask = pd.Series([False] * len(muscle_data15_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_2['Time'] >= start_time) & (muscle_data15_2['Time'] <= end_time))

rear_muscle_data15_2 = muscle_data15_2.loc[mask]
rear_muscle_data15_2

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200              0.012                   0.035
201   0.201              0.009                   0.011
202   0.202              0.009                  -0.018
203   0.203              0.008                   0.006
204   0.204              0.007                  -0.001
...     ...                ...                     ...
8816  8.816              0.004                  -0.125
8817  8.817              0.003                  -0.123
8818  8.818             -0.001                   0.093
8819  8.819              0.004                  -0.111
8820  8.820              0.004                   0.012

[2368 rows x 3 columns]

In [65]:
time_intervals = [
    (0.12, 0.52),
    (1.34, 1.62),
    (2.52, 2.76),
    (3.62, 3.88),
    (4.72, 5.00),
    (5.90, 6.16),
    (7.04, 7.30),
    (8.18, 8.48)
]

mask = pd.Series([False] * len(muscle_data15_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_3['Time'] >= start_time) & (muscle_data15_3['Time'] <= end_time))

rear_muscle_data15_3 = muscle_data15_3.loc[mask]
rear_muscle_data15_3

       Time  Tibialis antelior  Gastrocnemius medialis
120   0.120              0.012                   0.001
121   0.121              0.014                   0.003
122   0.122              0.012                   0.000
123   0.123              0.013                   0.004
124   0.124              0.009                   0.006
...     ...                ...                     ...
8476  8.476              0.053                  -0.002
8477  8.477              0.053                   0.000
8478  8.478              0.019                  -0.001
8479  8.479             -0.022                   0.003
8480  8.480             -0.057                   0.009

[2288 rows x 3 columns]

In [66]:
time_intervals = [
    (0.36, 0.72),
    (1.58, 1.86),
    (2.74, 3.04),
    (3.90, 4.16),
    (5.08, 5.38),
    (6.26, 6.56),
    (7.42, 7.76),
    (8.60, 8.86)
]

mask = pd.Series([False] * len(muscle_data15_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_4['Time'] >= start_time) & (muscle_data15_4['Time'] <= end_time))

rear_muscle_data15_4 = muscle_data15_4.loc[mask]
rear_muscle_data15_4

       Time  Tibialis antelior  Gastrocnemius medialis
360   0.360              0.016                   0.007
361   0.361              0.015                   0.010
362   0.362              0.015                   0.006
363   0.363              0.018                   0.007
364   0.364              0.012                   0.003
...     ...                ...                     ...
8856  8.856             -0.068                   0.006
8857  8.857             -0.022                   0.013
8858  8.858              0.004                   0.016
8859  8.859             -0.038                   0.014
8860  8.860             -0.074                   0.012

[2408 rows x 3 columns]

In [67]:
rear_muscle_data15 = [rear_muscle_data15_1, rear_muscle_data15_2, rear_muscle_data15_3, rear_muscle_data15_4]
rear_muscle_data15 = pd.concat(rear_muscle_data15, ignore_index=True)
rear_muscle_data15
# rear_muscle_data15.to_csv('../Data/rear_muscle_data15.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.100              0.003                   0.012
1     0.101              0.009                   0.014
2     0.102              0.007                   0.006
3     0.103              0.006                  -0.012
4     0.104             -0.001                  -0.021
...     ...                ...                     ...
9927  8.856             -0.068                   0.006
9928  8.857             -0.022                   0.013
9929  8.858              0.004                   0.016
9930  8.859             -0.038                   0.014
9931  8.860             -0.074                   0.012

[9932 rows x 3 columns]

In [68]:
time_intervals = [
    (0.2, 0.72),
    (1.44, 1.94),
    (2.76, 3.14),
    (3.98, 4.38),
    (5.22, 5.62),
    (6.46, 6.84),
    (7.68, 8.08),
    (8.92, 9.32)
]

mask = pd.Series([False] * len(muscle_data15_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_1['Time'] >= start_time) & (muscle_data15_1['Time'] <= end_time))

mid_muscle_data15_1 = muscle_data15_1.loc[mask]
mid_muscle_data15_1

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200              0.000                   0.002
201   0.201              0.000                   0.008
202   0.202              0.007                   0.019
203   0.203              0.012                   0.023
204   0.204             -0.001                   0.009
...     ...                ...                     ...
9316  9.316              0.041                   0.061
9317  9.317              0.022                   0.011
9318  9.318             -0.007                   0.015
9319  9.319             -0.001                   0.014
9320  9.320             -0.004                   0.018

[3388 rows x 3 columns]

In [69]:
time_intervals = [
    (0.28, 0.68),
    (1.52, 1.9),
    (2.72, 3.08),
    (3.84, 4.18),
    (4.98, 5.34),
    (6.14, 6.44),
    (7.32, 7.7),
    (8.52, 8.96)
]

mask = pd.Series([False] * len(muscle_data15_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_2['Time'] >= start_time) & (muscle_data15_2['Time'] <= end_time))

mid_muscle_data15_2 = muscle_data15_2.loc[mask]
mid_muscle_data15_2

       Time  Tibialis antelior  Gastrocnemius medialis
280   0.280              0.012                   0.000
281   0.281              0.009                  -0.001
282   0.282              0.009                   0.009
283   0.283              0.011                   0.008
284   0.284              0.009                   0.003
...     ...                ...                     ...
8956  8.956             -0.024                  -0.026
8957  8.957              0.006                   0.042
8958  8.958              0.030                   0.011
8959  8.959              0.026                   0.324
8960  8.960              0.045                   0.381

[2968 rows x 3 columns]

In [70]:
time_intervals = [
    (0.24, 0.64),
    (1.40, 1.78),
    (2.58, 2.90),
    (3.68, 4.02),
    (4.78, 5.14),
    (5.96, 6.34),
    (7.10, 7.48),
    (8.26, 8.64)
]

mask = pd.Series([False] * len(muscle_data15_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_3['Time'] >= start_time) & (muscle_data15_3['Time'] <= end_time))

mid_muscle_data15_3 = muscle_data15_3.loc[mask]
mid_muscle_data15_3

       Time  Tibialis antelior  Gastrocnemius medialis
240   0.240              0.015                   0.007
241   0.241              0.016                   0.006
242   0.242              0.012                   0.001
243   0.243              0.014                   0.000
244   0.244              0.008                   0.000
...     ...                ...                     ...
8636  8.636              0.123                  -0.005
8637  8.637              0.155                  -0.013
8638  8.638              0.046                  -0.014
8639  8.639              0.047                   0.002
8640  8.640              0.026                  -0.001

[2948 rows x 3 columns]

In [71]:
time_intervals = [
    (0.44, 0.82),
    (1.64, 2.04),
    (2.82, 3.14),
    (3.96, 4.34),
    (5.14, 5.56),
    (6.34, 6.72),
    (7.5, 7.88),
    (8.68, 9.04)
]

mask = pd.Series([False] * len(muscle_data15_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_4['Time'] >= start_time) & (muscle_data15_4['Time'] <= end_time))

mid_muscle_data15_4 = muscle_data15_4.loc[mask]
mid_muscle_data15_4

       Time  Tibialis antelior  Gastrocnemius medialis
440   0.440              0.016                  -0.037
441   0.441              0.011                  -0.013
442   0.442              0.013                  -0.017
443   0.443              0.014                  -0.008
444   0.444              0.008                  -0.019
...     ...                ...                     ...
9036  9.036             -0.015                  -0.020
9037  9.037             -0.007                   0.006
9038  9.038              0.004                  -0.006
9039  9.039              0.006                  -0.002
9040  9.040              0.010                   0.010

[3028 rows x 3 columns]

In [72]:
mid_muscle_data15 = [mid_muscle_data15_1, mid_muscle_data15_2, mid_muscle_data15_3, mid_muscle_data15_4]
mid_muscle_data15 = pd.concat(mid_muscle_data15, ignore_index=True)
mid_muscle_data15
# mid_muscle_data15.to_csv('../Data/mid_muscle_data15.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.200              0.000                   0.002
1      0.201              0.000                   0.008
2      0.202              0.007                   0.019
3      0.203              0.012                   0.023
4      0.204             -0.001                   0.009
...      ...                ...                     ...
12327  9.036             -0.015                  -0.020
12328  9.037             -0.007                   0.006
12329  9.038              0.004                  -0.006
12330  9.039              0.006                  -0.002
12331  9.040              0.010                   0.010

[12332 rows x 3 columns]

In [73]:
time_intervals = [
    (0.24, 0.88),
    (1.52, 2.14),
    (2.82, 3.38),
    (4.04, 4.62),
    (5.28, 5.86),
    (6.52, 7.08),
    (7.72, 8.3),
    (8.96, 9.52)
]

mask = pd.Series([False] * len(muscle_data15_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_1['Time'] >= start_time) & (muscle_data15_1['Time'] <= end_time))

fore_muscle_data15_1 = muscle_data15_1.loc[mask]
fore_muscle_data15_1

       Time  Tibialis antelior  Gastrocnemius medialis
240   0.240              0.006                  -0.032
241   0.241              0.002                   0.044
242   0.242              0.002                   0.079
243   0.243              0.000                   0.125
244   0.244             -0.006                   0.133
...     ...                ...                     ...
9516  9.516             -0.007                   0.004
9517  9.517             -0.007                  -0.006
9518  9.518              0.000                   0.004
9519  9.519             -0.001                   0.023
9520  9.520             -0.002                  -0.056

[4688 rows x 3 columns]

In [74]:
time_intervals = [
    (0.34, 0.92),
    (1.56, 2.14),
    (2.76, 3.3),
    (3.88, 4.44),
    (5.04, 5.56),
    (6.16, 6.74),
    (7.38, 7.92),
    (8.58, 9.12)
]

mask = pd.Series([False] * len(muscle_data15_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_2['Time'] >= start_time) & (muscle_data15_2['Time'] <= end_time))

fore_muscle_data15_2 = muscle_data15_2.loc[mask]
fore_muscle_data15_2

       Time  Tibialis antelior  Gastrocnemius medialis
340   0.340              0.009                   0.004
341   0.341              0.004                   0.002
342   0.342              0.002                  -0.008
343   0.343             -0.001                  -0.012
344   0.344              0.003                  -0.003
...     ...                ...                     ...
9116  9.116              0.062                   0.009
9117  9.117              0.059                   0.004
9118  9.118              0.037                   0.003
9119  9.119              0.006                   0.000
9120  9.120             -0.016                   0.002

[4452 rows x 3 columns]

In [75]:
time_intervals = [
    (0.30, 0.82),
    (1.46, 2.00),
    (2.64, 3.14),
    (3.72, 4.24),
    (4.82, 5.38),
    (6.02, 6.54),
    (7.16, 7.70)
]

mask = pd.Series([False] * len(muscle_data15_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_3['Time'] >= start_time) & (muscle_data15_3['Time'] <= end_time))

fore_muscle_data15_3 = muscle_data15_3.loc[mask]
fore_muscle_data15_3

       Time  Tibialis antelior  Gastrocnemius medialis
300   0.300              0.011                   0.003
301   0.301              0.012                   0.011
302   0.302              0.011                   0.018
303   0.303              0.009                  -0.001
304   0.304              0.008                   0.000
...     ...                ...                     ...
7696  7.696             -0.005                   0.312
7697  7.697              0.006                   0.111
7698  7.698              0.008                  -0.164
7699  7.699             -0.009                  -0.047
7700  7.700             -0.041                   0.039

[3707 rows x 3 columns]

In [76]:
time_intervals = [
    (0.52, 1.06),
    (1.68, 2.24),
    (2.86, 3.38),
    (4.0, 4.56),
    (5.18, 5.76),
    (6.38, 6.92),
    (7.54, 8.08)
]

mask = pd.Series([False] * len(muscle_data15_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data15_4['Time'] >= start_time) & (muscle_data15_4['Time'] <= end_time))

fore_muscle_data15_4 = muscle_data15_4.loc[mask]
fore_muscle_data15_4

       Time  Tibialis antelior  Gastrocnemius medialis
520   0.520              0.020                   0.013
521   0.521              0.014                   0.006
522   0.522              0.011                   0.011
523   0.523              0.023                   0.008
524   0.524              0.009                   0.007
...     ...                ...                     ...
8076  8.076             -0.009                  -0.057
8077  8.077             -0.030                  -0.006
8078  8.078              0.002                  -0.040
8079  8.079              0.037                  -0.055
8080  8.080              0.047                  -0.040

[3847 rows x 3 columns]

In [77]:
fore_muscle_data15 = [fore_muscle_data15_1, fore_muscle_data15_2, fore_muscle_data15_3, fore_muscle_data15_4]
fore_muscle_data15 = pd.concat(fore_muscle_data15, ignore_index=True)
fore_muscle_data15
# fore_muscle_data15.to_csv('../Data/fore_muscle_data15.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.240              0.006                  -0.032
1      0.241              0.002                   0.044
2      0.242              0.002                   0.079
3      0.243              0.000                   0.125
4      0.244             -0.006                   0.133
...      ...                ...                     ...
16689  8.076             -0.009                  -0.057
16690  8.077             -0.030                  -0.006
16691  8.078              0.002                  -0.040
16692  8.079              0.037                  -0.055
16693  8.080              0.047                  -0.040

[16694 rows x 3 columns]

In [78]:
time_intervals = [
    (0.08, 0.44),
    (1.2, 1.48),
    (2.32, 2.54),
    (3.42, 3.7),
    (4.6, 4.96),
    (5.72, 6.04),
    (6.84, 7.16)
]

mask = pd.Series([False] * len(muscle_data16_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_1['Time'] >= start_time) & (muscle_data16_1['Time'] <= end_time))

rear_muscle_data16_1 = muscle_data16_1.loc[mask]
rear_muscle_data16_1

       Time  Tibialis antelior  Gastrocnemius medialis
80    0.080              0.006                  -0.288
81    0.081              0.010                  -0.491
82    0.082              0.010                  -0.506
83    0.083              0.005                  -0.096
84    0.084             -0.008                   0.027
...     ...                ...                     ...
7156  7.156              0.008                  -0.015
7157  7.157              0.022                   0.006
7158  7.158              0.023                   0.001
7159  7.159              0.015                  -0.004
7160  7.160              0.007                  -0.011

[2147 rows x 3 columns]

In [79]:
time_intervals = [
    (0.06, 0.4),
    (1.16, 1.46),
    (2.24, 2.54),
    (3.34, 3.66),
    (4.44, 4.8),
    (5.58, 5.9),
    (6.66, 7),
    (7.74, 8.06)
]

mask = pd.Series([False] * len(muscle_data16_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_2['Time'] >= start_time) & (muscle_data16_2['Time'] <= end_time))

rear_muscle_data16_2 = muscle_data16_2.loc[mask]
rear_muscle_data16_2

       Time  Tibialis antelior  Gastrocnemius medialis
60    0.060              0.014                   0.003
61    0.061              0.023                   0.000
62    0.062              0.014                  -0.010
63    0.063              0.019                  -0.007
64    0.064              0.016                  -0.004
...     ...                ...                     ...
8056  8.056              0.047                   0.009
8057  8.057              0.008                   0.012
8058  8.058             -0.033                   0.022
8059  8.059             -0.048                   0.026
8060  8.060             -0.085                   0.030

[2608 rows x 3 columns]

In [80]:
time_intervals = [
    (0, 0.3),
    (1.1, 1.38),
    (2.16, 2.46),
    (3.26, 3.56),
    (4.34, 4.62),
    (5.44, 5.74),
    (6.5, 6.8),
    (7.56, 7.84)
]

mask = pd.Series([False] * len(muscle_data16_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_3['Time'] >= start_time) & (muscle_data16_3['Time'] <= end_time))

rear_muscle_data16_3 = muscle_data16_3.loc[mask]
rear_muscle_data16_3

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.004                   0.000
1     0.001              0.001                   0.004
2     0.002              0.000                   0.008
3     0.003              0.004                   0.010
4     0.004              0.008                   0.015
...     ...                ...                     ...
7836  7.836              0.032                  -0.023
7837  7.837              0.071                  -0.022
7838  7.838              0.075                  -0.020
7839  7.839              0.072                  -0.024
7840  7.840              0.053                  -0.023

[2348 rows x 3 columns]

In [81]:
time_intervals = [
    (0, 0.16),
    (0.92, 1.18),
    (1.98, 2.26),
    (3.04, 3.28),
    (4.1, 4.42),
    (5.2, 5.5),
    (6.24, 6.52),
    (7.32, 7.6)
]

mask = pd.Series([False] * len(muscle_data16_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_4['Time'] >= start_time) & (muscle_data16_4['Time'] <= end_time))

rear_muscle_data16_4 = muscle_data16_4.loc[mask]
rear_muscle_data16_4

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.048
1     0.001              0.004                   0.040
2     0.002              0.000                   0.019
3     0.003              0.003                   0.035
4     0.004              0.004                   0.051
...     ...                ...                     ...
7596  7.596             -0.008                   0.005
7597  7.597             -0.003                   0.003
7598  7.598             -0.002                   0.001
7599  7.599              0.004                   0.000
7600  7.600              0.009                  -0.002

[2128 rows x 3 columns]

In [82]:
rear_muscle_data16 = [rear_muscle_data16_1, rear_muscle_data16_2, rear_muscle_data16_3, rear_muscle_data16_4]
rear_muscle_data16 = pd.concat(rear_muscle_data16, ignore_index=True)
rear_muscle_data16
# rear_muscle_data16.to_csv('../Data/rear_muscle_data16.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.080              0.006                  -0.288
1     0.081              0.010                  -0.491
2     0.082              0.010                  -0.506
3     0.083              0.005                  -0.096
4     0.084             -0.008                   0.027
...     ...                ...                     ...
9226  7.596             -0.008                   0.005
9227  7.597             -0.003                   0.003
9228  7.598             -0.002                   0.001
9229  7.599              0.004                   0.000
9230  7.600              0.009                  -0.002

[9231 rows x 3 columns]

In [83]:
time_intervals = [
    (0.14, 0.54),
    (1.26, 1.62),
    (2.36, 2.7),
    (3.48, 3.84),
    (4.64, 5.06),
    (5.78, 6.18),
    (6.9, 7.3)
]

mask = pd.Series([False] * len(muscle_data16_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_1['Time'] >= start_time) & (muscle_data16_1['Time'] <= end_time))

mid_muscle_data16_1 = muscle_data16_1.loc[mask]
mid_muscle_data16_1

       Time  Tibialis antelior  Gastrocnemius medialis
140   0.140              0.001                  -0.138
141   0.141              0.000                   0.055
142   0.142             -0.010                   0.269
143   0.143             -0.006                   0.267
144   0.144             -0.014                   0.227
...     ...                ...                     ...
7296  7.296              0.023                   0.003
7297  7.297              0.027                   0.007
7298  7.298              0.019                   0.006
7299  7.299              0.016                   0.005
7300  7.300              0.020                   0.004

[2687 rows x 3 columns]

In [84]:
time_intervals = [
    (0.14, 0.52),
    (1.2, 1.56),
    (2.28, 2.66),
    (3.38, 3.76),
    (4.46, 4.9),
    (5.6, 6.02),
    (6.68, 7.1),
    (7.78, 8.22)
]

mask = pd.Series([False] * len(muscle_data16_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_2['Time'] >= start_time) & (muscle_data16_2['Time'] <= end_time))

mid_muscle_data16_2 = muscle_data16_2.loc[mask]
mid_muscle_data16_2

       Time  Tibialis antelior  Gastrocnemius medialis
140   0.140              0.008                   0.000
141   0.141              0.015                   0.000
142   0.142              0.014                   0.007
143   0.143              0.018                   0.018
144   0.144              0.013                   0.012
...     ...                ...                     ...
8216  8.216             -0.004                   0.039
8217  8.217             -0.003                   0.117
8218  8.218              0.007                   0.065
8219  8.219              0.013                   0.025
8220  8.220              0.013                   0.028

[3228 rows x 3 columns]

In [85]:
time_intervals = [
    (0.04, 0.44),
    (1.14, 1.5),
    (2.2, 2.58),
    (3.3, 3.68),
    (4.36, 4.76),
    (5.48, 5.88),
    (6.52, 6.92),
    (7.6, 7.98)
]

mask = pd.Series([False] * len(muscle_data16_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_3['Time'] >= start_time) & (muscle_data16_3['Time'] <= end_time))

mid_muscle_data16_3 = muscle_data16_3.loc[mask]
mid_muscle_data16_3

       Time  Tibialis antelior  Gastrocnemius medialis
40    0.040              0.003                   0.003
41    0.041              0.007                   0.004
42    0.042              0.006                  -0.001
43    0.043              0.015                   0.001
44    0.044              0.013                   0.009
...     ...                ...                     ...
7976  7.976             -0.007                  -0.008
7977  7.977             -0.012                  -0.008
7978  7.978             -0.008                  -0.007
7979  7.979             -0.009                  -0.003
7980  7.980             -0.007                  -0.004

[3108 rows x 3 columns]

In [86]:
time_intervals = [
    (0, 0.26),
    (0.96, 1.26),
    (2, 2.32),
    (3.06, 3.46),
    (4.12, 4.56),
    (5.24, 5.6),
    (6.26, 6.66),
    (7.36, 7.74)
]

mask = pd.Series([False] * len(muscle_data16_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_4['Time'] >= start_time) & (muscle_data16_4['Time'] <= end_time))

mid_muscle_data16_4 = muscle_data16_4.loc[mask]
mid_muscle_data16_4

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.048
1     0.001              0.004                   0.040
2     0.002              0.000                   0.019
3     0.003              0.003                   0.035
4     0.004              0.004                   0.051
...     ...                ...                     ...
7736  7.736              0.017                  -0.182
7737  7.737              0.014                  -0.117
7738  7.738              0.008                  -0.176
7739  7.739              0.008                  -0.254
7740  7.740              0.013                  -0.282

[2868 rows x 3 columns]

In [87]:
mid_muscle_data16 = [mid_muscle_data16_1, mid_muscle_data16_2, mid_muscle_data16_3, mid_muscle_data16_4]
mid_muscle_data16 = pd.concat(mid_muscle_data16, ignore_index=True)
mid_muscle_data16
# mid_muscle_data16.to_csv('../Data/mid_muscle_data16.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.140              0.001                  -0.138
1      0.141              0.000                   0.055
2      0.142             -0.010                   0.269
3      0.143             -0.006                   0.267
4      0.144             -0.014                   0.227
...      ...                ...                     ...
11886  7.736              0.017                  -0.182
11887  7.737              0.014                  -0.117
11888  7.738              0.008                  -0.176
11889  7.739              0.008                  -0.254
11890  7.740              0.013                  -0.282

[11891 rows x 3 columns]

In [88]:
time_intervals = [
    (0.3, 0.72),
    (1.36, 1.8),
    (2.44, 2.92),
    (3.58, 4.04),
    (4.88, 5.22),
    (5.92, 6.34),
    (7.06, 7.48)
]

mask = pd.Series([False] * len(muscle_data16_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_1['Time'] >= start_time) & (muscle_data16_1['Time'] <= end_time))

fore_muscle_data16_1 = muscle_data16_1.loc[mask]
fore_muscle_data16_1

       Time  Tibialis antelior  Gastrocnemius medialis
300   0.300             -0.015                   0.032
301   0.301              0.000                  -0.038
302   0.302             -0.003                  -0.106
303   0.303              0.013                  -0.207
304   0.304              0.027                  -0.126
...     ...                ...                     ...
7476  7.476             -0.047                   0.085
7477  7.477             -0.047                   0.086
7478  7.478             -0.161                   0.087
7479  7.479             -0.134                   0.080
7480  7.480             -0.047                   0.071

[2987 rows x 3 columns]

In [89]:
time_intervals = [
    (0.26, 0.68),
    (1.36, 1.76),
    (2.38, 2.84),
    (3.54, 3.94),
    (4.66, 5.06),
    (5.78, 6.16),
    (6.9, 7.24)
]

mask = pd.Series([False] * len(muscle_data16_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_2['Time'] >= start_time) & (muscle_data16_2['Time'] <= end_time))

fore_muscle_data16_2 = muscle_data16_2.loc[mask]
fore_muscle_data16_2

       Time  Tibialis antelior  Gastrocnemius medialis
260   0.260              0.014                  -0.029
261   0.261              0.014                  -0.055
262   0.262              0.011                  -0.085
263   0.263              0.013                  -0.089
264   0.264              0.007                  -0.062
...     ...                ...                     ...
7236  7.236             -0.004                  -0.121
7237  7.237             -0.007                  -0.103
7238  7.238              0.007                  -0.245
7239  7.239              0.006                  -0.288
7240  7.240              0.000                   0.146

[2807 rows x 3 columns]

In [90]:
time_intervals = [
    (0.2, 0.62),
    (1.26, 1.68),
    (2.32, 2.76),
    (3.44, 3.86),
    (4.52, 4.96),
    (5.64, 6.02),
    (6.68, 7.08)
]

mask = pd.Series([False] * len(muscle_data16_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_3['Time'] >= start_time) & (muscle_data16_3['Time'] <= end_time))

fore_muscle_data16_3 = muscle_data16_3.loc[mask]
fore_muscle_data16_3

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200              0.002                   0.002
201   0.201              0.006                  -0.008
202   0.202              0.009                  -0.014
203   0.203              0.008                  -0.004
204   0.204              0.005                   0.003
...     ...                ...                     ...
7076  7.076              0.009                   0.082
7077  7.077              0.004                   0.255
7078  7.078             -0.001                   0.098
7079  7.079              0.003                   0.066
7080  7.080              0.014                   0.041

[2927 rows x 3 columns]

In [91]:
time_intervals = [
    (0.04, 0.46),
    (1.1, 1.5),
    (2.16, 2.56),
    (3.18, 3.62),
    (4.28, 4.72),
    (5.4, 5.78),
    (6.42, 6.84)
]

mask = pd.Series([False] * len(muscle_data16_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data16_4['Time'] >= start_time) & (muscle_data16_4['Time'] <= end_time))

fore_muscle_data16_4 = muscle_data16_4.loc[mask]
fore_muscle_data16_4

       Time  Tibialis antelior  Gastrocnemius medialis
40    0.040              0.007                   0.000
41    0.041              0.011                  -0.009
42    0.042              0.009                  -0.022
43    0.043              0.011                  -0.009
44    0.044              0.008                   0.025
...     ...                ...                     ...
6836  6.836              0.019                   0.159
6837  6.837              0.004                   0.129
6838  6.838             -0.004                   0.025
6839  6.839             -0.004                  -0.004
6840  6.840             -0.004                  -0.085

[2907 rows x 3 columns]

In [92]:
fore_muscle_data16 = [fore_muscle_data16_1, fore_muscle_data16_2, fore_muscle_data16_3, fore_muscle_data16_4]
fore_muscle_data16 = pd.concat(fore_muscle_data16, ignore_index=True)
fore_muscle_data16
# fore_muscle_data16.to_csv('../Data/fore_muscle_data16.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.300             -0.015                   0.032
1      0.301              0.000                  -0.038
2      0.302             -0.003                  -0.106
3      0.303              0.013                  -0.207
4      0.304              0.027                  -0.126
...      ...                ...                     ...
11623  6.836              0.019                   0.159
11624  6.837              0.004                   0.129
11625  6.838             -0.004                   0.025
11626  6.839             -0.004                  -0.004
11627  6.840             -0.004                  -0.085

[11628 rows x 3 columns]

In [93]:
time_intervals = [
    (0, 0.22),
    (0.92, 1.28),
    (1.94, 2.28),
    (2.96, 3.3),
    (4, 4.32),
    (5, 5.3),
    (5.98, 6.32)
]

mask = pd.Series([False] * len(muscle_data17_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_1['Time'] >= start_time) & (muscle_data17_1['Time'] <= end_time))

rear_muscle_data17_1 = muscle_data17_1.loc[mask]
rear_muscle_data17_1

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.003
1     0.001              0.006                  -0.001
2     0.002              0.004                  -0.001
3     0.003              0.003                  -0.001
4     0.004              0.005                   0.001
...     ...                ...                     ...
6316  6.316              0.004                  -0.001
6317  6.317              0.004                   0.002
6318  6.318              0.006                   0.001
6319  6.319              0.009                   0.003
6320  6.320              0.006                   0.002

[2227 rows x 3 columns]

In [94]:
time_intervals = [
    (0.08, 0.46),
    (1.12, 1.46),
    (2.12, 2.42),
    (3.1, 3.38),
    (4.06, 4.34),
    (5.06, 5.34),
    (6.06, 6.32)
]

mask = pd.Series([False] * len(muscle_data17_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_2['Time'] >= start_time) & (muscle_data17_2['Time'] <= end_time))

rear_muscle_data17_2 = muscle_data17_2.loc[mask]
rear_muscle_data17_2

       Time  Tibialis antelior  Gastrocnemius medialis
80    0.080              0.017                   0.002
81    0.081              0.012                   0.000
82    0.082              0.009                   0.000
83    0.083              0.002                   0.000
84    0.084              0.015                  -0.003
...     ...                ...                     ...
6316  6.316              0.370                   0.074
6317  6.317              0.354                   0.087
6318  6.318              0.304                   0.077
6319  6.319              0.287                   0.070
6320  6.320              0.273                   0.066

[2127 rows x 3 columns]

In [95]:
time_intervals = [
    (0.18, 0.58),
    (1.22, 1.54),
    (2.24, 2.54),
    (3.2, 3.5),
    (4.18, 4.52),
    (5.18, 5.5),
    (6.16, 6.46)
]

mask = pd.Series([False] * len(muscle_data17_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_3['Time'] >= start_time) & (muscle_data17_3['Time'] <= end_time))

rear_muscle_data17_3 = muscle_data17_3.loc[mask]
rear_muscle_data17_3

       Time  Tibialis antelior  Gastrocnemius medialis
180   0.180              0.003                   0.000
181   0.181              0.001                   0.000
182   0.182              0.002                   0.000
183   0.183              0.004                   0.000
184   0.184              0.006                  -0.001
...     ...                ...                     ...
6456  6.456             -0.016                   0.178
6457  6.457             -0.304                   0.171
6458  6.458             -0.296                   0.163
6459  6.459             -0.061                   0.162
6460  6.460             -0.053                   0.163

[2287 rows x 3 columns]

In [96]:
time_intervals = [
    (0.14, 0.5),
    (1.14, 1.46),
    (2.12, 2.4),
    (3.1, 3.36),
    (4.0, 4.26),
    (5.0, 5.3),
    (5.96, 6.22)
]

mask = pd.Series([False] * len(muscle_data17_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_4['Time'] >= start_time) & (muscle_data17_4['Time'] <= end_time))

rear_muscle_data17_4 = muscle_data17_4.loc[mask]
rear_muscle_data17_4

       Time  Tibialis antelior  Gastrocnemius medialis
140   0.140              0.048                   0.000
141   0.141              0.065                  -0.002
142   0.142              0.081                   0.000
143   0.143              0.090                   0.007
144   0.144              0.085                   0.012
...     ...                ...                     ...
6216  6.216              0.005                  -0.055
6217  6.217              0.092                  -0.056
6218  6.218              0.116                  -0.054
6219  6.219              0.105                  -0.050
6220  6.220             -0.024                  -0.043

[2047 rows x 3 columns]

In [97]:
rear_muscle_data17 = [rear_muscle_data17_1, rear_muscle_data17_2, rear_muscle_data17_3, rear_muscle_data17_4]
rear_muscle_data17 = pd.concat(rear_muscle_data17, ignore_index=True)
rear_muscle_data17
# rear_muscle_data17.to_csv('../Data/rear_muscle_data17.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.003
1     0.001              0.006                  -0.001
2     0.002              0.004                  -0.001
3     0.003              0.003                  -0.001
4     0.004              0.005                   0.001
...     ...                ...                     ...
8683  6.216              0.005                  -0.055
8684  6.217              0.092                  -0.056
8685  6.218              0.116                  -0.054
8686  6.219              0.105                  -0.050
8687  6.220             -0.024                  -0.043

[8688 rows x 3 columns]

In [98]:
time_intervals = [
    (0, 0.28),
    (1, 1.34),
    (2, 2.34),
    (3.02, 3.36),
    (4.04, 4.4),
    (5.04, 5.38),
    (6.06, 6.4)
]

mask = pd.Series([False] * len(muscle_data17_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_1['Time'] >= start_time) & (muscle_data17_1['Time'] <= end_time))

mid_muscle_data17_1 = muscle_data17_1.loc[mask]
mid_muscle_data17_1

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.003
1     0.001              0.006                  -0.001
2     0.002              0.004                  -0.001
3     0.003              0.003                  -0.001
4     0.004              0.005                   0.001
...     ...                ...                     ...
6396  6.396              0.006                  -0.004
6397  6.397              0.008                  -0.005
6398  6.398              0.009                  -0.001
6399  6.399              0.007                  -0.001
6400  6.400              0.005                   0.000

[2347 rows x 3 columns]

In [99]:
time_intervals = [
    (0.16, 0.52),
    (1.18, 1.52),
    (2.18, 2.5),
    (3.16, 3.48),
    (4.1, 4.42),
    (5.1, 5.44),
    (6.12, 6.42)
]

mask = pd.Series([False] * len(muscle_data17_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_2['Time'] >= start_time) & (muscle_data17_2['Time'] <= end_time))

mid_muscle_data17_2 = muscle_data17_2.loc[mask]
mid_muscle_data17_2

       Time  Tibialis antelior  Gastrocnemius medialis
160   0.160             -0.994                   0.103
161   0.161             -0.970                   0.041
162   0.162             -0.945                  -0.055
163   0.163             -0.919                  -0.107
164   0.164             -0.893                  -0.187
...     ...                ...                     ...
6416  6.416             -0.175                  -0.060
6417  6.417             -0.118                  -0.063
6418  6.418             -0.127                  -0.059
6419  6.419              0.007                  -0.051
6420  6.420              0.182                  -0.048

[2307 rows x 3 columns]

In [100]:
time_intervals = [
    (0.28, 0.62),
    (1.28, 1.58),
    (2.26, 2.6),
    (3.24, 3.58),
    (4.24, 4.58),
    (5.24, 5.56),
    (6.22, 6.54)
]

mask = pd.Series([False] * len(muscle_data17_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_3['Time'] >= start_time) & (muscle_data17_3['Time'] <= end_time))

mid_muscle_data17_3 = muscle_data17_3.loc[mask]
mid_muscle_data17_3

       Time  Tibialis antelior  Gastrocnemius medialis
280   0.280              0.016                  -0.004
281   0.281              0.019                  -0.002
282   0.282              0.012                   0.000
283   0.283              0.002                  -0.001
284   0.284             -0.007                  -0.002
...     ...                ...                     ...
6536  6.536              0.081                   0.031
6537  6.537             -0.011                   0.043
6538  6.538             -0.141                   0.060
6539  6.539             -0.068                   0.073
6540  6.540              0.054                   0.089

[2307 rows x 3 columns]

In [101]:
time_intervals = [
    (0.2, 0.56),
    (1.2, 1.52),
    (2.18, 2.48),
    (3.14, 3.44),
    (4.06, 4.34),
    (5.06, 5.34),
    (6.0, 6.3)
]

mask = pd.Series([False] * len(muscle_data17_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_4['Time'] >= start_time) & (muscle_data17_4['Time'] <= end_time))

mid_muscle_data17_4 = muscle_data17_4.loc[mask]
mid_muscle_data17_4

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200              0.007                  -0.002
201   0.201              0.004                  -0.004
202   0.202             -0.004                  -0.004
203   0.203              0.003                  -0.002
204   0.204              0.000                  -0.003
...     ...                ...                     ...
6296  6.296             -0.081                  -0.094
6297  6.297             -0.138                  -0.082
6298  6.298              0.093                  -0.067
6299  6.299              0.236                  -0.060
6300  6.300              0.317                  -0.053

[2147 rows x 3 columns]

In [102]:
mid_muscle_data17 = [mid_muscle_data17_1, mid_muscle_data17_2, mid_muscle_data17_3, mid_muscle_data17_4]
mid_muscle_data17 = pd.concat(mid_muscle_data17, ignore_index=True)
mid_muscle_data17
# mid_muscle_data17.to_csv('../Data/mid_muscle_data17.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.003
1     0.001              0.006                  -0.001
2     0.002              0.004                  -0.001
3     0.003              0.003                  -0.001
4     0.004              0.005                   0.001
...     ...                ...                     ...
9103  6.296             -0.081                  -0.094
9104  6.297             -0.138                  -0.082
9105  6.298              0.093                  -0.067
9106  6.299              0.236                  -0.060
9107  6.300              0.317                  -0.053

[9108 rows x 3 columns]

In [103]:
time_intervals = [
    (0, 0.46),
    (1.04, 1.5),
    (2.04, 2.5),
    (3.04, 3.52),
    (4.08, 4.52),
    (5.08, 5.54),
    (6.06, 6.54)
]

mask = pd.Series([False] * len(muscle_data17_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_1['Time'] >= start_time) & (muscle_data17_1['Time'] <= end_time))

fore_muscle_data17_1 = muscle_data17_1.loc[mask]
fore_muscle_data17_1

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.000              0.008                   0.003
1     0.001              0.006                  -0.001
2     0.002              0.004                  -0.001
3     0.003              0.003                  -0.001
4     0.004              0.005                   0.001
...     ...                ...                     ...
6536  6.536              0.007                   0.004
6537  6.537              0.009                   0.004
6538  6.538              0.006                   0.004
6539  6.539              0.008                   0.002
6540  6.540              0.007                   0.001

[3247 rows x 3 columns]

In [104]:
time_intervals = [
    (0.22, 0.66),
    (1.2, 1.66),
    (2.2, 2.66),
    (3.18, 3.6),
    (4.12, 4.58),
    (5.12, 5.6),
    (6.12, 6.6)
]

mask = pd.Series([False] * len(muscle_data17_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_2['Time'] >= start_time) & (muscle_data17_2['Time'] <= end_time))

fore_muscle_data17_2 = muscle_data17_2.loc[mask]
fore_muscle_data17_2

       Time  Tibialis antelior  Gastrocnemius medialis
220   0.220              0.158                  -0.169
221   0.221              0.163                  -0.160
222   0.222              0.169                  -0.149
223   0.223              0.175                  -0.139
224   0.224              0.181                  -0.130
...     ...                ...                     ...
6596  6.596              0.077                  -0.277
6597  6.597              0.040                  -0.262
6598  6.598              0.050                  -0.241
6599  6.599             -0.038                  -0.214
6600  6.600             -0.089                  -0.196

[3207 rows x 3 columns]

In [105]:
time_intervals = [
    (0.32, 0.76),
    (1.32, 1.76),
    (2.28, 2.74),
    (3.28, 3.74),
    (4.28, 4.72),
    (5.24, 5.7),
    (6.24, 6.7)
]

mask = pd.Series([False] * len(muscle_data17_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_3['Time'] >= start_time) & (muscle_data17_3['Time'] <= end_time))

fore_muscle_data17_3 = muscle_data17_3.loc[mask]
fore_muscle_data17_3

       Time  Tibialis antelior  Gastrocnemius medialis
320   0.320              0.032                   0.002
321   0.321              0.019                   0.002
322   0.322              0.016                   0.004
323   0.323              0.021                   0.003
324   0.324              0.035                   0.002
...     ...                ...                     ...
6696  6.696              0.600                   0.027
6697  6.697              0.499                   0.012
6698  6.698              0.268                  -0.001
6699  6.699              0.143                  -0.007
6700  6.700              0.106                  -0.004

[3167 rows x 3 columns]

In [106]:
time_intervals = [
    (0.26, 0.7),
    (1.22, 1.66),
    (2.2, 2.64),
    (3.18, 3.58),
    (4.06, 4.52),
    (5.08, 5.52),
    (6.02, 6.48)
]

mask = pd.Series([False] * len(muscle_data17_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data17_4['Time'] >= start_time) & (muscle_data17_4['Time'] <= end_time))

fore_muscle_data17_4 = muscle_data17_4.loc[mask]
fore_muscle_data17_4

       Time  Tibialis antelior  Gastrocnemius medialis
260   0.260             -0.013                  -0.002
261   0.261             -0.012                  -0.004
262   0.262             -0.023                  -0.005
263   0.263             -0.021                  -0.004
264   0.264             -0.021                  -0.002
...     ...                ...                     ...
6476  6.476             -0.050                  -0.005
6477  6.477             -0.136                   0.000
6478  6.478             -0.035                   0.000
6479  6.479              0.131                  -0.003
6480  6.480              0.142                  -0.004

[3087 rows x 3 columns]

In [107]:
fore_muscle_data17 = [fore_muscle_data17_4, fore_muscle_data17_4, fore_muscle_data17_4, fore_muscle_data17_4]
fore_muscle_data17 = pd.concat(fore_muscle_data17, ignore_index=True)
fore_muscle_data17
# fore_muscle_data17.to_csv('../Data/fore_muscle_data17.csv', index=False)

        Time  Tibialis antelior  Gastrocnemius medialis
0      0.260             -0.013                  -0.002
1      0.261             -0.012                  -0.004
2      0.262             -0.023                  -0.005
3      0.263             -0.021                  -0.004
4      0.264             -0.021                  -0.002
...      ...                ...                     ...
12343  6.476             -0.050                  -0.005
12344  6.477             -0.136                   0.000
12345  6.478             -0.035                   0.000
12346  6.479              0.131                  -0.003
12347  6.480              0.142                  -0.004

[12348 rows x 3 columns]

In [108]:
time_intervals = [
    (0.04, 0.4),
    (1.18, 1.5),
    (2.26, 2.56),
    (3.36, 3.64),
    (4.42, 4.7),
    (5.52, 5.76),
    (6.58, 6.86)
]

mask = pd.Series([False] * len(muscle_data19_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_1['Time'] >= start_time) & (muscle_data19_1['Time'] <= end_time))

rear_muscle_data19_1 = muscle_data19_1.loc[mask]
rear_muscle_data19_1

       Time  Tibialis antelior  Gastrocnemius medialis
40    0.040              0.015                   0.011
41    0.041              0.009                   0.009
42    0.042              0.008                   0.006
43    0.043              0.000                   0.003
44    0.044              0.002                   0.001
...     ...                ...                     ...
6856  6.856              0.020                   0.191
6857  6.857              0.013                   0.073
6858  6.858              0.004                   0.062
6859  6.859              0.006                   0.014
6860  6.860              0.009                  -0.018

[2067 rows x 3 columns]

In [109]:
time_intervals = [
    (0.1, 0.46),
    (1.14, 1.46),
    (2.18, 2.5),
    (3.26, 3.56),
    (4.3, 4.62),
    (5.34, 5.58),
    (6.4, 6.72)
]

mask = pd.Series([False] * len(muscle_data19_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_2['Time'] >= start_time) & (muscle_data19_2['Time'] <= end_time))

rear_muscle_data19_2 = muscle_data19_2.loc[mask]
rear_muscle_data19_2

       Time  Tibialis antelior  Gastrocnemius medialis
100   0.100              0.007                   0.001
101   0.101              0.006                  -0.001
102   0.102              0.000                  -0.002
103   0.103             -0.028                  -0.018
104   0.104             -0.042                  -0.028
...     ...                ...                     ...
6716  6.716             -0.092                  -0.020
6717  6.717             -0.109                  -0.019
6718  6.718              0.010                  -0.019
6719  6.719             -0.001                  -0.021
6720  6.720             -0.083                  -0.022

[2187 rows x 3 columns]

In [110]:
time_intervals = [
    (0.04, 0.42),
    (1.14, 1.46),
    (2.18, 2.48),
    (3.22, 3.46),
    (4.28, 4.56),
    (5.32, 5.62),
    (6.38, 6.62)
]

mask = pd.Series([False] * len(muscle_data19_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_3['Time'] >= start_time) & (muscle_data19_3['Time'] <= end_time))

rear_muscle_data19_3 = muscle_data19_3.loc[mask]
rear_muscle_data19_3

       Time  Tibialis antelior  Gastrocnemius medialis
40    0.040             -0.023                  -0.007
41    0.041             -0.043                  -0.025
42    0.042             -0.013                  -0.015
43    0.043              0.019                   0.009
44    0.044              0.022                   0.010
...     ...                ...                     ...
6616  6.616             -0.131                   0.000
6617  6.617             -0.016                  -0.006
6618  6.618              0.135                  -0.012
6619  6.619              0.241                  -0.020
6620  6.620              0.050                  -0.014

[2067 rows x 3 columns]

In [111]:
time_intervals = [
    (0.14, 0.48),
    (1.2, 1.44),
    (2.22, 2.48),
    (3.28, 3.48),
    (4.3, 4.58),
    (5.36, 5.6),
    (6.4, 6.62)
]

mask = pd.Series([False] * len(muscle_data19_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_4['Time'] >= start_time) & (muscle_data19_4['Time'] <= end_time))

rear_muscle_data19_4 = muscle_data19_4.loc[mask]
rear_muscle_data19_4

       Time  Tibialis antelior  Gastrocnemius medialis
140   0.140              0.015                   0.010
141   0.141              0.011                   0.012
142   0.142              0.006                   0.004
143   0.143              0.005                   0.003
144   0.144              0.008                   0.002
...     ...                ...                     ...
6616  6.616              0.144                  -0.015
6617  6.617              0.238                  -0.010
6618  6.618              0.064                  -0.013
6619  6.619              0.123                  -0.012
6620  6.620              0.147                  -0.009

[1787 rows x 3 columns]

In [112]:
rear_muscle_data19 = [rear_muscle_data19_1, rear_muscle_data19_2, rear_muscle_data19_3, rear_muscle_data19_4]
rear_muscle_data19 = pd.concat(rear_muscle_data19, ignore_index=True)
rear_muscle_data19
# rear_muscle_data19.to_csv('../Data/rear_muscle_data19.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.040              0.015                   0.011
1     0.041              0.009                   0.009
2     0.042              0.008                   0.006
3     0.043              0.000                   0.003
4     0.044              0.002                   0.001
...     ...                ...                     ...
8103  6.616              0.144                  -0.015
8104  6.617              0.238                  -0.010
8105  6.618              0.064                  -0.013
8106  6.619              0.123                  -0.012
8107  6.620              0.147                  -0.009

[8108 rows x 3 columns]

In [113]:
time_intervals = [
    (1.34, 1.62),
    (2.46, 2.6),
    (3.68, 3.7),
    (4.6, 4.8),
    (5.64, 5.9),
    (6.7, 6.86)
]

mask = pd.Series([False] * len(muscle_data19_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_1['Time'] >= start_time) & (muscle_data19_1['Time'] <= end_time))

mid_muscle_data19_1 = muscle_data19_1.loc[mask]
mid_muscle_data19_1

       Time  Tibialis antelior  Gastrocnemius medialis
1340  1.340              0.012                   0.019
1341  1.341              0.015                   0.017
1342  1.342              0.008                   0.014
1343  1.343              0.003                   0.008
1344  1.344              0.003                  -0.002
...     ...                ...                     ...
6856  6.856              0.020                   0.191
6857  6.857              0.013                   0.073
6858  6.858              0.004                   0.062
6859  6.859              0.006                   0.014
6860  6.860              0.009                  -0.018

[1066 rows x 3 columns]

In [114]:
time_intervals = [
    (1.34, 1.54),
    (1.34, 1.54),
    (3.44, 3.62),
    (3.44, 3.62),
    (4.54, 4.7),
    (5.48, 5.7),
    (6.7, 6.76)
]

mask = pd.Series([False] * len(muscle_data19_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_2['Time'] >= start_time) & (muscle_data19_2['Time'] <= end_time))

mid_muscle_data19_2 = muscle_data19_2.loc[mask]
mid_muscle_data19_2

       Time  Tibialis antelior  Gastrocnemius medialis
1340  1.340              0.160                  -0.003
1341  1.341              0.110                  -0.011
1342  1.342              0.047                  -0.018
1343  1.343             -0.037                  -0.037
1344  1.344             -0.090                  -0.035
...     ...                ...                     ...
6756  6.756             -0.109                   0.054
6757  6.757             -0.085                   0.062
6758  6.758             -0.053                   0.064
6759  6.759             -0.013                   0.066
6760  6.760             -0.096                   0.068

[825 rows x 3 columns]

In [115]:
time_intervals = [
    (1.32, 1.52),
    (1.32, 1.52),
    (2.4, 2.56),
    (3.32, 3.6),
    (4.48, 4.66),
    (5.44, 5.72),
    (6.54, 6.76)
]

mask = pd.Series([False] * len(muscle_data19_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_3['Time'] >= start_time) & (muscle_data19_3['Time'] <= end_time))

mid_muscle_data19_3 = muscle_data19_3.loc[mask]
mid_muscle_data19_3

       Time  Tibialis antelior  Gastrocnemius medialis
1320  1.320             -0.049                  -0.014
1321  1.321             -0.063                  -0.017
1322  1.322             -0.001                   0.002
1323  1.323              0.014                   0.014
1324  1.324              0.015                   0.012
...     ...                ...                     ...
6756  6.756              0.011                   0.018
6757  6.757              0.014                   0.023
6758  6.758              0.019                   0.009
6759  6.759              0.000                  -0.018
6760  6.760             -0.013                  -0.009

[1326 rows x 3 columns]

In [116]:
time_intervals = [
    (0.44, 0.52),
    (1.32, 1.54),
    (2.44, 2.54),
    (3.36, 3.62),
    (5.5, 5.68),
    (6.48, 6.78)
]

mask = pd.Series([False] * len(muscle_data19_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_4['Time'] >= start_time) & (muscle_data19_4['Time'] <= end_time))

mid_muscle_data19_4 = muscle_data19_4.loc[mask]
mid_muscle_data19_4

       Time  Tibialis antelior  Gastrocnemius medialis
440   0.440              0.012                   0.008
441   0.441              0.012                   0.006
442   0.442              0.008                  -0.004
443   0.443              0.001                  -0.009
444   0.444              0.002                  -0.001
...     ...                ...                     ...
6776  6.776             -0.018                   0.012
6777  6.777             -0.097                   0.000
6778  6.778              0.011                  -0.008
6779  6.779              0.038                  -0.003
6780  6.780             -0.004                   0.008

[1146 rows x 3 columns]

In [117]:
mid_muscle_data19 = [mid_muscle_data19_1, mid_muscle_data19_2, mid_muscle_data19_3, mid_muscle_data19_4]
mid_muscle_data19 = pd.concat(mid_muscle_data19, ignore_index=True)
mid_muscle_data19
# mid_muscle_data19.to_csv('../Data/mid_muscle_data19.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     1.340              0.012                   0.019
1     1.341              0.015                   0.017
2     1.342              0.008                   0.014
3     1.343              0.003                   0.008
4     1.344              0.003                  -0.002
...     ...                ...                     ...
4358  6.776             -0.018                   0.012
4359  6.777             -0.097                   0.000
4360  6.778              0.011                  -0.008
4361  6.779              0.038                  -0.003
4362  6.780             -0.004                   0.008

[4363 rows x 3 columns]

In [118]:
time_intervals = [
    (0.32, 0.68),
    (1.44, 1.78),
    (2.5, 2.84),
    (3.58, 3.94),
    (4.66, 5.02),
    (5.72, 6.08),
    (6.78, 7.16)
]

mask = pd.Series([False] * len(muscle_data19_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_1['Time'] >= start_time) & (muscle_data19_1['Time'] <= end_time))

fore_muscle_data19_1 = muscle_data19_1.loc[mask]
fore_muscle_data19_1

       Time  Tibialis antelior  Gastrocnemius medialis
320   0.320              0.012                   0.007
321   0.321              0.007                   0.003
322   0.322              0.003                   0.001
323   0.323              0.003                   0.003
324   0.324              0.005                   0.002
...     ...                ...                     ...
7156  7.156              0.002                   0.001
7157  7.157             -0.003                  -0.007
7158  7.158              0.003                   0.000
7159  7.159              0.006                  -0.006
7160  7.160              0.011                  -0.003

[2507 rows x 3 columns]

In [119]:
time_intervals = [
    (0.38, 0.68),
    (1.4, 1.72),
    (2.38, 2.76),
    (3.5, 3.82),
    (4.58, 4.88),
    (5.5, 5.92),
    (6.68, 6.98)
]

mask = pd.Series([False] * len(muscle_data19_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_2['Time'] >= start_time) & (muscle_data19_2['Time'] <= end_time))

fore_muscle_data19_2 = muscle_data19_2.loc[mask]
fore_muscle_data19_2

       Time  Tibialis antelior  Gastrocnemius medialis
380   0.380              0.003                   0.001
381   0.381              0.002                  -0.003
382   0.382             -0.002                  -0.013
383   0.383             -0.030                  -0.026
384   0.384             -0.041                  -0.029
...     ...                ...                     ...
6976  6.976             -0.007                   0.000
6977  6.977             -0.038                  -0.001
6978  6.978             -0.071                   0.002
6979  6.979             -0.086                   0.001
6980  6.980             -0.058                   0.001

[2347 rows x 3 columns]

In [120]:
time_intervals = [
    (0.34, 0.66),
    (1.42, 1.72),
    (2.44, 2.76),
    (3.42, 3.8),
    (4.52, 4.86),
    (5.54, 5.9),
    (6.56, 6.98)
]

mask = pd.Series([False] * len(muscle_data19_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_3['Time'] >= start_time) & (muscle_data19_3['Time'] <= end_time))

fore_muscle_data19_3 = muscle_data19_3.loc[mask]
fore_muscle_data19_3

       Time  Tibialis antelior  Gastrocnemius medialis
340   0.340             -0.023                  -0.017
341   0.341             -0.035                  -0.017
342   0.342             -0.011                  -0.004
343   0.343              0.016                   0.011
344   0.344              0.019                   0.014
...     ...                ...                     ...
6976  6.976              0.128                  -1.833
6977  6.977              0.100                  -1.942
6978  6.978              0.082                  -2.126
6979  6.979              0.070                  -2.223
6980  6.980              0.059                  -2.123

[2447 rows x 3 columns]

In [121]:
time_intervals = [
    (0.42, 0.72),
    (1.4, 1.76),
    (2.42, 2.8),
    (3.42, 3.84),
    (4.54, 4.9),
    (5.54, 5.92),
    (6.54, 6.96)
]

mask = pd.Series([False] * len(muscle_data19_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data19_4['Time'] >= start_time) & (muscle_data19_4['Time'] <= end_time))

fore_muscle_data19_4 = muscle_data19_4.loc[mask]
fore_muscle_data19_4

       Time  Tibialis antelior  Gastrocnemius medialis
420   0.420              0.006                   0.012
421   0.421              0.001                   0.004
422   0.422              0.000                   0.008
423   0.423             -0.001                   0.000
424   0.424              0.000                   0.002
...     ...                ...                     ...
6956  6.956             -3.258                   0.248
6957  6.957             -3.259                   0.457
6958  6.958             -3.259                   0.346
6959  6.959             -3.259                   0.180
6960  6.960             -3.259                   0.165

[2627 rows x 3 columns]

In [122]:
fore_muscle_data19 = [fore_muscle_data19_1, fore_muscle_data19_2, fore_muscle_data19_3, fore_muscle_data19_4]
fore_muscle_data19 = pd.concat(fore_muscle_data19, ignore_index=True)
fore_muscle_data19
# fore_muscle_data19.to_csv('../Data/fore_muscle_data19.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.320              0.012                   0.007
1     0.321              0.007                   0.003
2     0.322              0.003                   0.001
3     0.323              0.003                   0.003
4     0.324              0.005                   0.002
...     ...                ...                     ...
9923  6.956             -3.258                   0.248
9924  6.957             -3.259                   0.457
9925  6.958             -3.259                   0.346
9926  6.959             -3.259                   0.180
9927  6.960             -3.259                   0.165

[9928 rows x 3 columns]

In [123]:
time_intervals = [
    (0.2, 0.58),
    (1.3, 1.64),
    (1.3, 1.64),
    (3.42, 3.78),
    (4.52, 4.88),
    (5.58, 5.9),
    (6.64, 6.98),
    (7.72, 8.1)
]

mask = pd.Series([False] * len(muscle_data20_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_1['Time'] >= start_time) & (muscle_data20_1['Time'] <= end_time))

rear_muscle_data20_1 = muscle_data20_1.loc[mask]
rear_muscle_data20_1

       Time  Tibialis antelior  Gastrocnemius medialis
200   0.200             -0.002                  -0.006
201   0.201              0.007                  -0.001
202   0.202              0.007                   0.001
203   0.203              0.004                   0.003
204   0.204              0.008                   0.003
...     ...                ...                     ...
8096  8.096             -0.005                   0.114
8097  8.097             -0.013                  -0.080
8098  8.098             -0.007                  -0.087
8099  8.099              0.004                  -0.110
8100  8.100              0.004                  -0.213

[2487 rows x 3 columns]

In [124]:
time_intervals = [
    (0.08, 0.4),
    (1.14, 1.46),
    (2.16, 2.42),
    (3.18, 3.44),
    (4.2, 4.5),
    (5.24, 5.54),
    (6.28, 6.54)
]

mask = pd.Series([False] * len(muscle_data20_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_2['Time'] >= start_time) & (muscle_data20_2['Time'] <= end_time))

rear_muscle_data20_2 = muscle_data20_2.loc[mask]
rear_muscle_data20_2

       Time  Tibialis antelior  Gastrocnemius medialis
80    0.080              0.002                   0.004
81    0.081             -0.001                   0.004
82    0.082             -0.004                   0.002
83    0.083             -0.021                  -0.010
84    0.084             -0.021                  -0.014
...     ...                ...                     ...
6536  6.536             -0.015                  -0.009
6537  6.537             -0.022                  -0.009
6538  6.538             -0.018                  -0.009
6539  6.539             -0.020                  -0.009
6540  6.540             -0.019                  -0.009

[2027 rows x 3 columns]

In [125]:
time_intervals = [
    (0.32,0.64),
    (1.36,1.7),
    (2.4,2.66),
    (3.42,3.72),
    (4.42,4.78),
    (5.46,5.72),
    (6.5,6.8)
]

mask = pd.Series([False] * len(muscle_data20_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_3['Time'] >= start_time) & (muscle_data20_3['Time'] <= end_time))

rear_muscle_data20_3 = muscle_data20_3.loc[mask]
rear_muscle_data20_3

       Time  Tibialis antelior  Gastrocnemius medialis
320   0.320              0.010                   0.004
321   0.321              0.008                   0.003
322   0.322             -0.003                   0.001
323   0.323             -0.001                   0.000
324   0.324              0.002                   0.000
...     ...                ...                     ...
6796  6.796             -0.040                  -0.007
6797  6.797              0.001                  -0.005
6798  6.798              0.030                  -0.003
6799  6.799              0.025                  -0.001
6800  6.800              0.004                   0.000

[2147 rows x 3 columns]

In [126]:
time_intervals = [
    (0.18,0.52),
    (1.22,1.54),
    (2.24,2.56),
    (3.22,3.48),
    (4.2,4.54),
    (5.22,5.54),
    (6.24,6.54)
]

mask = pd.Series([False] * len(muscle_data20_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_4['Time'] >= start_time) & (muscle_data20_4['Time'] <= end_time))

rear_muscle_data20_4 = muscle_data20_4.loc[mask]
rear_muscle_data20_4

       Time  Tibialis antelior  Gastrocnemius medialis
180   0.180              0.000                  -0.018
181   0.181              0.001                  -0.018
182   0.182              0.000                  -0.025
183   0.183              0.004                  -0.021
184   0.184              0.007                  -0.016
...     ...                ...                     ...
6536  6.536              0.001                   0.003
6537  6.537              0.002                   0.002
6538  6.538              0.001                   0.002
6539  6.539              0.007                   0.002
6540  6.540              0.007                   0.001

[2207 rows x 3 columns]

In [127]:
rear_muscle_data20 = [rear_muscle_data20_1, rear_muscle_data20_2, rear_muscle_data20_3, rear_muscle_data20_4]
rear_muscle_data20 = pd.concat(rear_muscle_data20, ignore_index=True)
rear_muscle_data20
# rear_muscle_data20.to_csv('../Data/rear_muscle_data20.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.200             -0.002                  -0.006
1     0.201              0.007                  -0.001
2     0.202              0.007                   0.001
3     0.203              0.004                   0.003
4     0.204              0.008                   0.003
...     ...                ...                     ...
8863  6.536              0.001                   0.003
8864  6.537              0.002                   0.002
8865  6.538              0.001                   0.002
8866  6.539              0.007                   0.002
8867  6.540              0.007                   0.001

[8868 rows x 3 columns]

In [128]:
time_intervals = [
    (0.48, 0.64),
    (1.38, 1.5),
    (1.38, 1.5),
    (3.66, 3.84),
    (4.62, 4.68),
    (5.66, 5.74),
    (6.74, 7.04),
    (8, 8.16)
]

mask = pd.Series([False] * len(muscle_data20_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_1['Time'] >= start_time) & (muscle_data20_1['Time'] <= end_time))

mid_muscle_data20_1 = muscle_data20_1.loc[mask]
mid_muscle_data20_1

       Time  Tibialis antelior  Gastrocnemius medialis
480   0.480             -0.001                   0.006
481   0.481              0.006                   0.006
482   0.482              0.007                   0.004
483   0.483              0.007                   0.000
484   0.484              0.007                   0.000
...     ...                ...                     ...
8156  8.156             -0.010                   0.021
8157  8.157             -0.009                   0.312
8158  8.158              0.007                   0.274
8159  8.159              0.009                  -0.182
8160  8.160              0.000                  -0.326

[1067 rows x 3 columns]

In [129]:
time_intervals = [
    (0.32, 0.48),
    (1.32, 1.5),
    (2.36, 2.48),
    (3.3, 3.52),
    (4.3, 4.34),
    (5.34, 5.38),
    (6.36, 6.6)
]

mask = pd.Series([False] * len(muscle_data20_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_2['Time'] >= start_time) & (muscle_data20_2['Time'] <= end_time))

mid_muscle_data20_2 = muscle_data20_2.loc[mask]
mid_muscle_data20_2

       Time  Tibialis antelior  Gastrocnemius medialis
320   0.320              0.001                   0.014
321   0.321              0.000                   0.015
322   0.322             -0.004                   0.003
323   0.323             -0.017                  -0.017
324   0.324             -0.023                  -0.037
...     ...                ...                     ...
6596  6.596              0.000                   0.015
6597  6.597             -0.002                   0.014
6598  6.598              0.002                   0.014
6599  6.599              0.002                   0.010
6600  6.600             -0.003                   0.011

[1007 rows x 3 columns]

In [130]:
time_intervals = [
    (0.58,0.7),
    (1.64,1.74),
    (2.48,2.74),
    (4.74,4.8),
    (5.66,5.82),
    (6.8,6.88)
]

mask = pd.Series([False] * len(muscle_data20_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_3['Time'] >= start_time) & (muscle_data20_3['Time'] <= end_time))

mid_muscle_data20_3 = muscle_data20_3.loc[mask]
mid_muscle_data20_3

       Time  Tibialis antelior  Gastrocnemius medialis
580   0.580              0.015                   0.003
581   0.581              0.010                   0.001
582   0.582              0.000                  -0.002
583   0.583              0.001                   0.001
584   0.584              0.003                   0.001
...     ...                ...                     ...
6876  6.876              0.000                  -0.008
6877  6.877              0.069                  -0.008
6878  6.878              0.046                  -0.009
6879  6.879             -0.012                  -0.017
6880  6.880             -0.054                  -0.019

[786 rows x 3 columns]

In [131]:
time_intervals = [
    (0.42,0.58),
    (1.48,1.58),
    (2.46,2.6),
    (3.32,3.58),
    (4.32,4.34),
    (5.48,5.6),
    (6.44,6.6)
]

mask = pd.Series([False] * len(muscle_data20_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_4['Time'] >= start_time) & (muscle_data20_4['Time'] <= end_time))

mid_muscle_data20_4 = muscle_data20_4.loc[mask]
mid_muscle_data20_4

       Time  Tibialis antelior  Gastrocnemius medialis
420   0.420              0.007                  -0.288
421   0.421              0.011                  -0.218
422   0.422              0.011                  -0.425
423   0.423              0.015                  -0.177
424   0.424              0.011                  -0.154
...     ...                ...                     ...
6596  6.596              0.035                   0.000
6597  6.597              0.050                  -0.001
6598  6.598              0.059                  -0.006
6599  6.599              0.103                  -0.009
6600  6.600              0.117                  -0.010

[967 rows x 3 columns]

In [132]:
mid_muscle_data20 = [mid_muscle_data20_1, mid_muscle_data20_2, mid_muscle_data20_3, mid_muscle_data20_4]
mid_muscle_data20 = pd.concat(mid_muscle_data20, ignore_index=True)
mid_muscle_data20
# mid_muscle_data20.to_csv('../Data/mid_muscle_data20.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.480             -0.001                   0.006
1     0.481              0.006                   0.006
2     0.482              0.007                   0.004
3     0.483              0.007                   0.000
4     0.484              0.007                   0.000
...     ...                ...                     ...
3822  6.596              0.035                   0.000
3823  6.597              0.050                  -0.001
3824  6.598              0.059                  -0.006
3825  6.599              0.103                  -0.009
3826  6.600              0.117                  -0.010

[3827 rows x 3 columns]

In [133]:
time_intervals = [
    (0.48, 0.8),
    (1.56, 1.86),
    (2.62, 2.92),
    (3.7, 4),
    (4.82, 5.1),
    (5.82, 6.16),
    (6.92, 7.24)
]

mask = pd.Series([False] * len(muscle_data20_1))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_1['Time'] >= start_time) & (muscle_data20_1['Time'] <= end_time))

fore_muscle_data20_1 = muscle_data20_1.loc[mask]
fore_muscle_data20_1

       Time  Tibialis antelior  Gastrocnemius medialis
480   0.480             -0.001                   0.006
481   0.481              0.006                   0.006
482   0.482              0.007                   0.004
483   0.483              0.007                   0.000
484   0.484              0.007                   0.000
...     ...                ...                     ...
7236  7.236             -0.005                   0.007
7237  7.237             -0.017                  -0.021
7238  7.238             -0.015                  -0.061
7239  7.239             -0.003                  -0.018
7240  7.240             -0.003                   0.005

[2167 rows x 3 columns]

In [134]:
time_intervals = [
    (0.3, 0.66),
    (1.38, 1.7),
    (2.34, 2.7),
    (3.38, 3.72),
    (4.46, 4.76),
    (5.46, 5.78),
    (6.46, 6.82)
]

mask = pd.Series([False] * len(muscle_data20_2))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_2['Time'] >= start_time) & (muscle_data20_2['Time'] <= end_time))

fore_muscle_data20_2 = muscle_data20_2.loc[mask]
fore_muscle_data20_2

       Time  Tibialis antelior  Gastrocnemius medialis
300   0.300              0.000                   0.001
301   0.301             -0.001                  -0.005
302   0.302              0.000                  -0.004
303   0.303             -0.018                  -0.013
304   0.304             -0.017                  -0.011
...     ...                ...                     ...
6816  6.816              0.005                  -0.008
6817  6.817             -0.009                  -0.085
6818  6.818             -0.013                   0.067
6819  6.819             -0.009                   0.073
6820  6.820             -0.013                  -0.063

[2367 rows x 3 columns]

In [135]:
time_intervals = [
    (0.54,0.88),
    (1.62,1.92),
    (2.58,2.94),
    (3.64,3.94),
    (4.72,5),
    (5.62,6),
    (6.72,7.06)
]

mask = pd.Series([False] * len(muscle_data20_3))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_3['Time'] >= start_time) & (muscle_data20_3['Time'] <= end_time))

fore_muscle_data20_3 = muscle_data20_3.loc[mask]
fore_muscle_data20_3

       Time  Tibialis antelior  Gastrocnemius medialis
540   0.540              0.014                   0.007
541   0.541              0.011                   0.004
542   0.542             -0.004                   0.000
543   0.543             -0.002                   0.001
544   0.544              0.001                   0.000
...     ...                ...                     ...
7056  7.056             -0.011                  -0.010
7057  7.057             -0.015                  -0.011
7058  7.058             -0.009                  -0.010
7059  7.059             -0.025                  -0.010
7060  7.060             -0.052                  -0.009

[2307 rows x 3 columns]

In [136]:
time_intervals = [
    (0.42,0.76),
    (1.44,1.76),
    (2.5,2.78),
    (3.4,3.72),
    (4.48,4.76),
    (5.46,5.76),
    (6.46,6.78)
]

mask = pd.Series([False] * len(muscle_data20_4))
for start_time, end_time in time_intervals:
    mask = mask | ((muscle_data20_4['Time'] >= start_time) & (muscle_data20_4['Time'] <= end_time))

fore_muscle_data20_4 = muscle_data20_4.loc[mask]
fore_muscle_data20_4

       Time  Tibialis antelior  Gastrocnemius medialis
420   0.420              0.007                  -0.288
421   0.421              0.011                  -0.218
422   0.422              0.011                  -0.425
423   0.423              0.015                  -0.177
424   0.424              0.011                  -0.154
...     ...                ...                     ...
6776  6.776             -0.012                   0.003
6777  6.777              0.085                   0.005
6778  6.778              0.152                   0.002
6779  6.779              0.180                   0.002
6780  6.780              0.133                   0.000

[2167 rows x 3 columns]

In [137]:
fore_muscle_data20 = [fore_muscle_data20_1, fore_muscle_data20_2, fore_muscle_data20_3, fore_muscle_data20_4]
fore_muscle_data20 = pd.concat(fore_muscle_data20, ignore_index=True)
fore_muscle_data20
# fore_muscle_data20.to_csv('../Data/fore_muscle_data20.csv', index=False)

       Time  Tibialis antelior  Gastrocnemius medialis
0     0.480             -0.001                   0.006
1     0.481              0.006                   0.006
2     0.482              0.007                   0.004
3     0.483              0.007                   0.000
4     0.484              0.007                   0.000
...     ...                ...                     ...
9003  6.776             -0.012                   0.003
9004  6.777              0.085                   0.005
9005  6.778              0.152                   0.002
9006  6.779              0.180                   0.002
9007  6.780              0.133                   0.000

[9008 rows x 3 columns]